<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      
      <div class="monthly-payment-content">
        {% comment %}
        <div><img src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/42f7ce29-96c1-4399-9b19-fe0dc4c07e4d_480x480.jpg?v=1594883384" alt="" width="480x480" height="480x480" style="display: block; margin-left: auto; margin-right: auto;" /></div>
        {% endcomment %}
        <div class="grid payment_info">
          <div class="grid__item medium-up--one-third text-center">
            <div class="pay_icon"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/pngegg_50_1.png?v=1631181226" data-sizes="auto"></div>
            <div class="title">Choose Splitit<br>at Checkout</div>
            <div class="desc">Always 0% interest.<br>Never any late fees.</div>
          </div>
          <div class="grid__item medium-up--one-third text-center">
            <div class="pay_icon"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/pngegg_47_1.png?v=1631181226" data-sizes="auto"></div>
            <div class="title">Select Number<br>of Payments</div>
            <div class="desc">There are no applications or credt checks, and you continue to earn your points and rewards on your card.</div>
          </div>
          <div class="grid__item medium-up--one-third text-center">
            <div class="pay_icon"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/pay_time.png?v=1631181226" data-sizes="auto"></div>
            <div class="title">Pay Over Time</div>
            <div class="desc">Use your favorite credit card to split your payment info smaller, bite-sized pieces.</div>
          </div>
        </div>
        <div class="plan_installment">
          <h4 class="text-center">Sample plan for 3 installments with credit card</h4>
          <div class="installments">
            <div class="installments_items">
              <div class="bg-grey">
                <p>Total</p>
                <h3>$300</h3>
              </div>
            </div>
            <span class="arrow_img"><svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></span>
            <div class="installments_items">
              <div class="bg-grey">
                <p>Pay Today</p>
                <h3>$100</h3>
              </div>
              <p class="held_card">$200 held on card</p>
            </div>
            <span class="arrow_img"><svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></span>
            <div class="installments_items">
              <div class="bg-grey">
                <p>2nd Payment</p>
                <h3>$100</h3>
              </div>
              <p class="held_card">$100 held on card</p>
            </div>
            <span class="arrow_img"><svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></span>
            <div class="installments_items">
              <div class="bg-grey">
                <p>Final Payment</p>
                <h3>$100</h3>
              </div>
              <p class="held_card">$0 held on card</p>
            </div>
          </div>
        </div>
        <div class="monthly_payment_information">
          <ul>
            <li>At the time of purchase, once the merchant confirms your shipment, you will only be charged for the first payment. The remaining balance will be held on your credit card until the final payment is made. After each monthly payment, the amount held from your available balance will be reduced to the new remaining balance (the held amount might appear as "pending").</li>
            <li>To be eligible, you must own a VISA or MasterCard credit card and have the entire amount of your purchase available on your card.</li>
            <li>Splitit will not charge you interest or fees. Other potential interest, fees and/or charges may apply from your card issuer.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>