<div class="villans_page">
  {% section 'ursula-page-banner' %}
  {% section 'ursula_three_banner' %}
  {% section 'ursula-collection_section' %}
  {% section 'ursula-craftmenship' %}
  {% section 'ursula-collection-product' %}
  {% section 'the-chateau-section' %}
</div>