<div class="rewards_page">
  <div class="header">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <div class="logo">
            <img class="lazyload" alt="logo" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Rewards_logo.png?v=1612778599"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image>
          </div>
          <div class="rte">
            <div id="stamped-rewards-widget" data-widget-type="rewards-summary" data-label-greeting-anonymous="EARN SPARKLE POINTS" data-label-greeting-description="Join us today and earn a sparkle every time you shop. Collect the sparkle points to unlock a whole new set of benefits." data-label-signup="New sign up" data-label-signin="Member sign in"></div>
          </div>
        </div>
        {% comment %}
        <div class="header-banner">
          <img class="grid-view-item__image lazyload first-image float-img" alt="Ring Jewelry" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Jewelry_1.png?v=1608272007"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="rte">
          <div id="stamped-rewards-widget" data-widget-type="rewards-how-it-works" data-label-title="How it Works" data-label-step-title-one="Earn" data-label-step-description-one="Earn Sparkles every time you shop, review or refer your friends" data-label-step-title-two="Redeem" data-label-step-description-two="Redeem Sparkles for discount vouchers or pay using Sparkles"></div>
          {% comment %}<div id="stamped-rewards-widget" data-widget-type="rewards-earnings" data-label-title="Ways to Earn Sparkles"></div>{% endcomment %}
          <div id="ways-to-earn-sparkles" class="rewards-earning-section">
            <div class="stamped-rewards-widget-campaigns-earnings">
              <h1 class="stamped-rewards-widget-heading-main">Ways to Earn Sparkles</h1>
              <div class="stamped-rewards-widget-description">As a prestigious member of the Enchanted Disney Rewards Program, earn Sparkle points every time you purchase and redeem towards exclusive benefits</div>
              <ul class="stamped-rewards-earnings" >
                <li class="stamped-rewards-widget-campaign stamped-rewards-widget-campaign-content" data-campaign-id="5786">
                  <div class="stamped-rewards-widget-campaign-image">
                    <i class="fal fa-user-plus"></i>
                  </div>
                  <div class="stamped-rewards-widget-campaign-title">Signup Bonus</div>
                  <div class="stamped-rewards-widget-campaign-value">200 Sparkles</div>
                  <div class="stamped-rewards-widget-campaign-value second_text">Sign up today to get complimentary 200 Sparkle points</div>
                </li>
                <li class="stamped-rewards-widget-campaign stamped-rewards-widget-campaign-content" data-campaign-id="5787">
                  <div class="stamped-rewards-widget-campaign-image">
                    <i class="fal fa-birthday-cake"></i>
                  </div>
                  <div class="stamped-rewards-widget-campaign-title">Celebrate your birthday</div>
                  <div class="stamped-rewards-widget-campaign-value">200 Sparkles</div>
                  <div class="stamped-rewards-widget-campaign-value second_text">We have a birthday gift for you! We will gift you 200 Sparkle points on your birthday</div>
                </li>
                <li class="stamped-rewards-widget-campaign stamped-rewards-widget-campaign-content" data-campaign-id="5781">
                  <div class="stamped-rewards-widget-campaign-image">
                    <i class="fal fa-bags-shopping"></i>
                  </div>
                  <div class="stamped-rewards-widget-campaign-title">Make a purchase</div>
                  <div class="stamped-rewards-widget-campaign-value">Earn Sparkles for every purchase</div>
                  <div class="stamped-rewards-widget-campaign-value second_text">The more you purchase, the more sparkles you will earn!</div>
                </li>
              </ul>
            </div>
          </div>
          {% comment %}<div id="stamped-rewards-widget" data-widget-type="rewards-earnings" data-label-title="Tiers"></div>{% endcomment %}
          <div id="tiers" class="rewards-earning-section">
            <div class="stamped-rewards-widget-campaigns-earnings">
              <h1 class="stamped-rewards-widget-heading-main">Tiers</h1>
              <div class="stamped-rewards-widget-description">Shop more, Earn more sparkles</div>
              <ul class="stamped-rewards-earnings" >
                <li class="stamped-rewards-widget-campaign stamped-rewards-widget-campaign-content" data-campaign-id="5782">
                  <div class="stamped-rewards-widget-campaign-image">
                    <i class="fal fa-user-plus"></i>
                  </div>
                  <div class="stamped-rewards-widget-campaign-title">Silver</div>
                  <div class="stamped-rewards-widget-campaign-value"> < 2000 Sparkles</div>
                    <div class="stamped-rewards-widget-campaign-value">1 Sparkle for every $1 Spent *</div>
                    </li>
                <li class="stamped-rewards-widget-campaign stamped-rewards-widget-campaign-content" data-campaign-id="5783">
                  <div class="stamped-rewards-widget-campaign-image">
                    <i class="fal fa-user-plus"></i>
                  </div>
                  <div class="stamped-rewards-widget-campaign-title">Gold</div>
                  <div class="stamped-rewards-widget-campaign-value">2000-7500 Sparkles</div>
                  <div class="stamped-rewards-widget-campaign-value">1.5 Sparkles for every $1 Spent *</div>
                </li>
                <li class="stamped-rewards-widget-campaign stamped-rewards-widget-campaign-content" data-campaign-id="5784">
                  <div class="stamped-rewards-widget-campaign-image">
                    <i class="fal fa-user-plus"></i>
                  </div>
                  <div class="stamped-rewards-widget-campaign-title">Platinum</div>
                  <div class="stamped-rewards-widget-campaign-value">>7500 Sparkles</div>
                  <div class="stamped-rewards-widget-campaign-value">2 Sparkles for every $1 Spent *</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="rte reward-redeem">
          <div class="spending-banner">
            <img class="grid-view-item__image lazyload first-image float-img" alt="Rose Ring Jewelry" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Group_20723.png?v=1608269737"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image>
          </div>
          <div id="stamped-rewards-widget" data-widget-type="rewards-spendings" data-label-description="Redeeming your Sparkles is easy. &lt;br&gt; Simply exchange your Sparkles for discount coupons to spend in any order. "></div>
        </div>
        <div class="rte reward-refer">
          <div id="stamped-rewards-widget" data-widget-type="rewards-referral" data-label-description="Earn Sparkles when your friend makes their first purchase"></div>
          <div class="refrral-banner">
            <img class="grid-view-item__image lazyload first-image float-img" alt="Box Jewelry" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Group_20686.png?v=1608269825"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image>
          </div>
        </div>
        <div class="faq_link" >
          <h4>Frequently Asked Questions</h4>
          <div class="collapse_item" >
            <h5 class="collapse active">What is Enchanted Disney Fine Jewelry Rewards Boutique?</h5>
            <div class="panel">
              <p>Enchanted Disney Fine Jewelry Rewards Boutique is an exclusive rewards program for esteemed customers of www.enchantedfinejewelry.com</p>
            </div>
            <h5 class="collapse">How can I be a part of Enchanted Disney Fine Jewelry Rewards Boutique?</h5>
            <div class="panel">
              <p>Just create an account on our website and you would be automatically enrolled our rewards program. Once you're a registered member, you'll have the opportunity to earn points in multiple ways.</p>
            </div>
            <h5 class="collapse">What are Sparkles?</h5>
            <div class="panel">
              <p>Points awarded under the Enchanted Disney Fine Jewelry Rewards Boutique program are called ‘Sparkles’.</p>
            </div>
            <h5 class="collapse">What are the Membership Tiers for the program?</h5>
            <div class="panel">
              <p class="list_ptag">We have 3 membership tiers. Entry to the membership tiers is based on Sparkles accumulated by you.<br /> Following are the membership tiers:</p>
              <ol>
                <li>Silver Tier (0-2000 Sparkles)
                  <ul>
                    <li>
                      <p>Earn 1 Sparkle for every $1 Spent</p>
                    </li>
                  </ul>
                </li>
              </ol>
              <ol start="2">
                <li>Gold Tier (2000-7500 Sparkles)
                  <ul>
                    <li>
                      <p>Earn 1.5 Sparkles for every $1 Spent</p>
                    </li>
                  </ul>
                </li>
              </ol>
              <ol start="3">
                <li>Platinum Tier(7500+ Sparkles)
                  <ul>
                    <li>
                      <p>Earn 2 Sparkles for every $1 Spent</p>
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
            <h5 class="collapse">How can I earn Sparkles?</h5>
            <div class="panel">
              <p class="list_ptag">You can earn Sparkles for following actions:</p>
              <ol>
                <li>Welcome Bonus for Signing Up (200 Sparkles)</li>
                <li>Special Gift for your Birthday (200 Sparkles)</li>
                <li>Making a Purchase on our website (Upto 2 Sparkles for every $1 spent)</li>
                <li>Referring your friend (10% Off Coupon for your friend, 200 Sparkles for you)</li>
              </ol>
              <p>Apart from these, we also come with special promotions from time to time to award bonus Sparkles for various activities.</p>
            </div>
            <h5 class="collapse">What can I redeem my Sparkles for?</h5>
            <div class="panel">
              <p>You can redeem your points for discount coupons as per the following slabs-<br>
                • 300 Sparkles for $15 Off<br>
                • 500 Sparkles for $25 Off<br>
                • 800 Sparkles for $40 Off<br>
                • 1000 Sparkles for $50 Off<br>
                • 2000 Sparkles for $100 Off</p>
            </div>
            <h5 class="collapse">How do I check my Sparkles balance?</h5>
            <div class="panel">
              <p>Just sign in to your account and click on the ‘Rewards’ button appearing at bottom left corner of your screen. You would be able to see your Sparkles balance</p>
            </div>
            <h5 class="collapse">How long will it take for Sparkles to be added in my account post purchase?</h5>
            <div class="panel">
              <p>Sparkles awarded for making a purchase would be added to your account after 45 days from the date of order.</p>
            </div>
            <h5 class="collapse">Are there any conditions attached to the voucher code I receive after redeeming my Sparkles?</h5>
            <div class="panel">
              <p>You can redeem the voucher code received after redeeming your Sparkles only on non discounted items. Also, no two promotions or discounts can be combined at a time.</p>
            </div>
            <h5 class="collapse">Do my points expire?</h5>
            <div class="panel">
              <p>No! Your points will never expire.</p>
            </div>
            <h5 class="collapse">What happens to my points if I return the products?</h5>
            <div class="panel">
              <p>When you return an item, you lose the associated credit you originally earned by buying the item in the first place.</p>
            </div>
            <h5 class="collapse">How do I contact support if I have any questions?</h5>
            <div class="panel">
              <p>You can email us on <span><a href="mailto:enchantedfinejewelry@renaissanceglobal.com">enchantedfinejewelry@renaissanceglobal.com</a></span> or call us on <a href="tel:929205523335">(929) 552-3335</a> from Mon-Fri 8 AM to 8 PM EST and Sat-Sun 11 AM to 8 PM EST</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    var acc = document.getElementsByClassName("collapse");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.slideUp('slow');
        } else {
          panel.slideDown('slow');
        }
      });
    }
  });
</script>

<style>
  :root {
    --stamped-rewards-theme-color: #11214a;
      --stamped-rewards-button-color-background: #000;
      --stamped-rewards-button-color-text: #fff;
    }

    .rewards-earning-section .stamped-rewards-widget-heading-main {
      font-size: 36px;
      text-align: center;
      margin-bottom: 60px;
      text-transform: initial;
      letter-spacing: 1px;
    }

    .rewards-earning-section .stamped-rewards-widget-campaigns-earnings {
      padding: 0px 0 40px;
    }

    .rewards-earning-section .stamped-rewards-widget-campaigns-earnings ul {
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1400px;
      margin: 0 auto;
    }

    .rewards-earning-section .stamped-rewards-widget-campaigns-earnings .stamped-rewards-widget-campaign-image img {
      width: 84px;
    }

    .rewards-earning-section .stamped-rewards-widget-campaign-image {
      margin-bottom: 15px;
    }

    .rewards-earning-section .stamped-rewards-widget-campaign-image > i,
    .rewards-earning-section .stamped-rewards-widget-campaign-image > i:before {
      font-size: 46px;
      margin-bottom: 2px;
    }

    .rewards-earning-section .stamped-rewards-widget-campaign-title {
      margin-bottom: 5px;
      font-weight: bold;
    }
</style>