<div class="villans_page">
  {% section 'evil_queen-page-banner' %}
  {% section 'evil_queen_three_banner' %}
  {% section 'evil_queen-collection_section' %}
  {% section 'evil_queen-craftmenship' %}
  {% section 'evil_queen-collection-product' %}
  {% section 'the-chateau-section' %}
</div>