<section class="pageload__popup">
  <div class="promotion_container">
    <span class="close-promotion">×</span>
    <a href="{{ settings.popupUrl }}">
      <img class="lazyload" data-src="{{ settings.popupImg | img_url:"master" }}" loading="eager" data-sizes="auto">
    </a>
  </div>
</section>