<div class="page-width rb-earn-sparkles">
  <section class="section-padding-top">
    <div class="section-title text-center">
      {% if section.settings.sub_title != blank %}
      <span class="sub-title">{{ section.settings.sub_title }}</span>
      {% endif %}
      {% if section.settings.title != blank %}
      <h2>
        {{ section.settings.title }}
      </h2>
      {% endif %}
    </div>
    <div class="grid grid--uniform">
      <div class="grid__item small--one-half medium-up--one-quarter earn-grid">
        <div class="svg-wrapper earn--bonus-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_25242" data-name="Rectangle 25242" width="30" height="30" transform="translate(273 872)" fill="#430606" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_129953" data-name="Mask Group 129953" transform="translate(-273 -872)" clip-path="url(#clip-path)">
              <path id="Diamond" d="M14.7,23.349a2.189,2.189,0,0,1-1.634-.722L.511,8.543A2.007,2.007,0,0,1,.34,6.088L3.794.944A2.173,2.173,0,0,1,5.6,0H23.794A2.167,2.167,0,0,1,25.6.944l3.457,5.144a2.009,2.009,0,0,1-.172,2.455L16.333,22.627A2.191,2.191,0,0,1,14.7,23.349ZM5.6,1.522a.567.567,0,0,0-.471.248L1.675,6.913a.521.521,0,0,0,.046.641L14.271,21.639a.58.58,0,0,0,.854,0L27.676,7.554a.525.525,0,0,0,.045-.641L24.264,1.769a.562.562,0,0,0-.47-.248ZM18.671,7.9H10.724a.762.762,0,1,1,0-1.523h7.947a.762.762,0,1,1,0,1.523Z" transform="translate(273.302 875.325)" fill="#bc913f"/>
            </g>
          </svg>
        </div>
        <h5>Signup Bonus</h5>
        <p>Get <span>200 Sparkles</span> when you become a member</p>
      </div>
      <div class="grid__item small--one-half medium-up--one-quarter earn-grid">
        <div class="svg-wrapper earn--treats-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_25243" data-name="Rectangle 25243" width="30" height="30" transform="translate(307 872)" fill="#430606" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_129954" data-name="Mask Group 129954" transform="translate(-307 -872)">
              <path id="Gift_box" data-name="Gift box" d="M13,26a1.1,1.1,0,0,1-.193-.018H5.19C2.328,25.982,0,24,0,21.566V10.876C0,8.443,2.328,6.462,5.19,6.462H5.6a3.623,3.623,0,0,1-1.047-2.5C4.551,1.778,6.64,0,9.209,0a5.325,5.325,0,0,1,2.164.454A4.562,4.562,0,0,1,13,1.664,4.574,4.574,0,0,1,14.628.454,5.327,5.327,0,0,1,16.793,0c2.568,0,4.656,1.778,4.656,3.963a3.622,3.622,0,0,1-1.047,2.5h.408c2.862,0,5.19,1.98,5.19,4.414v10.69c0,2.435-2.328,4.416-5.19,4.416H13.193A1.089,1.089,0,0,1,13,26Zm.865-9.043V24.51H20.81a3.237,3.237,0,0,0,3.46-2.944V16.957Zm-12.135,0v4.609A3.237,3.237,0,0,0,5.19,24.51h6.946V16.957ZM13.865,8.964v6.522H24.27v-4.61a3.237,3.237,0,0,0-3.46-2.944H15.1l3.063,2.607a.658.658,0,0,1,0,1.039.974.974,0,0,1-1.223,0ZM5.19,7.933a3.237,3.237,0,0,0-3.46,2.944v4.61H12.135V8.964L9.062,11.579a.975.975,0,0,1-1.224,0,.66.66,0,0,1,0-1.039L10.9,7.933Zm11.6-6.462a2.74,2.74,0,0,0-2.928,2.492v2.49h2.928a2.738,2.738,0,0,0,2.927-2.49A2.739,2.739,0,0,0,16.793,1.471Zm-7.584,0A2.74,2.74,0,0,0,6.281,3.963a2.739,2.739,0,0,0,2.928,2.49h2.926V3.963A2.739,2.739,0,0,0,9.209,1.471Z" transform="translate(309 874)" fill="#bc913f"/>
            </g>
          </svg>
        </div>
        <h5>Birthday Treats</h5>
        <p> We gift you <span>300 Sparkles</span> on your birthday</p>
      </div>
      <div class="grid__item small--one-half medium-up--one-quarter earn-grid">
        <div class="svg-wrapper earn--cart-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_25244" data-name="Rectangle 25244" width="30" height="30" transform="translate(340 872)" fill="#430606" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_129955" data-name="Mask Group 129955" transform="translate(-340 -872)"  >
              <path id="Cart" d="M17.624,23.49A2.511,2.511,0,1,1,20.135,26,2.511,2.511,0,0,1,17.624,23.49Zm-9.434,0A2.511,2.511,0,1,1,10.7,26,2.511,2.511,0,0,1,8.19,23.49Zm1.978-4.231A3.364,3.364,0,0,1,6.857,16.4L3.668,3.147a1.873,1.873,0,0,0-1.834-1.64H.753A.754.754,0,0,1,.753,0h1.08A3.368,3.368,0,0,1,5.146,2.862L8.334,16.113a1.874,1.874,0,0,0,1.834,1.641h10.62A1.837,1.837,0,0,0,22.6,16.233l1.682-8.269a1.838,1.838,0,0,0-1.816-2.139H12.1a.754.754,0,0,1,0-1.507H22.467a3.347,3.347,0,0,1,3.3,3.927l-1.682,8.271a3.335,3.335,0,0,1-3.292,2.744Z" transform="translate(342 874)" fill="#bc913f"/>
            </g>
          </svg>
        </div>
        <h5>Shopping</h5>
        <p>Earn <span>1 Sparkle</span> for every $1 spent</p>
      </div>
      <div class="grid__item small--one-half medium-up--one-quarter earn-grid">
        <div class="svg-wrapper earn--refer-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_25245" data-name="Rectangle 25245" width="30" height="30" transform="translate(372 872)" fill="#430606" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_129956" data-name="Mask Group 129956" transform="translate(-372 -872)"  >
              <path id="User" d="M21.145,24.078H3.068A3.1,3.1,0,0,1,.635,22.924a2.764,2.764,0,0,1-.55-2.434,11.952,11.952,0,0,1,3.14-5.512A12.447,12.447,0,0,1,8.691,11.8,6.518,6.518,0,0,1,6.419,9.527,6.222,6.222,0,0,1,5.557,6.37,6.47,6.47,0,0,1,12.107,0a6.469,6.469,0,0,1,6.549,6.37,6.222,6.222,0,0,1-.863,3.157A6.517,6.517,0,0,1,15.522,11.8a12.447,12.447,0,0,1,5.467,3.176,11.952,11.952,0,0,1,3.14,5.512,2.765,2.765,0,0,1-.55,2.434A3.1,3.1,0,0,1,21.145,24.078ZM12.107,12.739A10.864,10.864,0,0,0,1.481,20.825a1.4,1.4,0,0,0,.285,1.238,1.685,1.685,0,0,0,1.3.618H21.145a1.684,1.684,0,0,0,1.3-.618,1.4,1.4,0,0,0,.285-1.238A10.863,10.863,0,0,0,12.107,12.739Zm0-11.34A5.049,5.049,0,0,0,6.995,6.37a5.049,5.049,0,0,0,5.112,4.97,5.048,5.048,0,0,0,5.111-4.97A5.048,5.048,0,0,0,12.107,1.4Z" transform="translate(375 875)" fill="#bc913f"/>
            </g>
          </svg>
        </div>
        <h5>Refer & Earn</h5>
        <p>Refer & get <span>500 Sparkles</span> when your friend makes a purchase</p>
      </div>
      
      <div class="grid__item small--one-half medium-up--one-quarter earn-grid">
        <div class="svg-wrapper earn--bonus-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_25246" data-name="Rectangle 25246" width="30" height="30" transform="translate(403 872)" fill="#430606" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_129957" data-name="Mask Group 129957" transform="translate(-403 -872)"  >
              <g id="Group_6319" data-name="Group 6319" transform="translate(412 875)">
                <path id="Path_29" data-name="Path 29" d="M3431.65,1714.377h-5.072v-12.256h-2.533v-4.227h2.533v-2.535c0-3.446,1.433-5.5,5.5-5.5h3.383v4.226h-2.113c-1.583,0-1.689.59-1.689,1.692l-.006,2.113h3.832l-.449,4.227h-3.383Z" transform="translate(-3424.045 -1689.862)" fill="#bc913f"/>
              </g>
            </g>
          </svg>
        </div>
        <h5>Facebook</h5>
        <p>Get <span>100 Sparkles</span> when you Like us on Facebook</p>
      </div>
      <div class="grid__item small--one-half medium-up--one-quarter earn-grid">
        <div class="svg-wrapper earn--treats-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_25247" data-name="Rectangle 25247" width="30" height="30" transform="translate(430 872)" fill="#430606" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_129958" data-name="Mask Group 129958" transform="translate(-430 -872)"  >
              <g id="Group_6320" data-name="Group 6320" transform="translate(432 874)">
                <g id="Group_63" data-name="Group 63">
                  <g id="Group_62" data-name="Group 62">
                    <path id="Path_32" data-name="Path 32" d="M3448.042,1692.145c3.373,0,3.77.012,5.1.073a7.035,7.035,0,0,1,2.344.434,4.158,4.158,0,0,1,2.4,2.4,6.926,6.926,0,0,1,.434,2.343c.061,1.335.076,1.733.076,5.1s-.015,3.771-.076,5.1a6.968,6.968,0,0,1-.434,2.346,4.159,4.159,0,0,1-2.4,2.394,6.954,6.954,0,0,1-2.344.435c-1.332.06-1.729.075-5.1.075s-3.768-.015-5.1-.075a6.916,6.916,0,0,1-2.345-.435,3.905,3.905,0,0,1-1.454-.944,3.954,3.954,0,0,1-.944-1.45,7.108,7.108,0,0,1-.435-2.346c-.061-1.331-.074-1.729-.074-5.1s.013-3.769.074-5.1a7.065,7.065,0,0,1,.435-2.343,4.173,4.173,0,0,1,2.4-2.4,7,7,0,0,1,2.345-.434c1.331-.061,1.729-.073,5.1-.073m0-2.276c-3.427,0-3.856.014-5.2.075a9.279,9.279,0,0,0-3.063.59,6.433,6.433,0,0,0-3.691,3.692,9.241,9.241,0,0,0-.586,3.063c-.063,1.346-.077,1.778-.077,5.206s.014,3.859.077,5.206a9.239,9.239,0,0,0,.586,3.066,6.438,6.438,0,0,0,3.691,3.693,9.231,9.231,0,0,0,3.063.586c1.349.061,1.778.076,5.2.076s3.859-.014,5.206-.076a9.253,9.253,0,0,0,3.066-.586,6.445,6.445,0,0,0,3.69-3.693,9.224,9.224,0,0,0,.587-3.066c.063-1.347.076-1.775.076-5.206s-.012-3.86-.076-5.206a9.226,9.226,0,0,0-.587-3.063,6.44,6.44,0,0,0-3.69-3.692,9.3,9.3,0,0,0-3.066-.59c-1.346-.061-1.776-.075-5.206-.075Z" transform="translate(-3435.421 -1689.869)" fill="#bc913f"/>
                    <path id="Path_33" data-name="Path 33" d="M3444.96,1691.891a7.523,7.523,0,1,0,7.523,7.521A7.519,7.519,0,0,0,3444.96,1691.891Zm0,12.405a4.884,4.884,0,1,1,4.883-4.885A4.886,4.886,0,0,1,3444.96,1704.3Z" transform="translate(-3432.34 -1686.785)" fill="#bc913f"/>
                    <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="1.259" cy="1.259" rx="1.259" ry="1.259" transform="translate(18.258 4.474)" fill="#bc913f"/>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h5>Instagram</h5>
        <p>Get <span>100 Sparkles</span> when you Follow us on Instagram</p>
      </div>
      <div class="grid__item small--one-half medium-up--one-quarter earn-grid">
        <div class="svg-wrapper earn--cart-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_25248" data-name="Rectangle 25248" width="30" height="30" transform="translate(462 872)" fill="#430606" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_129959" data-name="Mask Group 129959" transform="translate(-462 -872)"  >
              <g id="Group_129968" data-name="Group 129968" transform="translate(464 874)">
                <g id="group-29" transform="translate(0 0)">
                  <circle id="Oval-1-Copy-4" cx="12.983" cy="12.983" r="12.983" fill="#bc913f"/>
                  <path id="Fill-15" d="M24.49,17a6.5,6.5,0,0,0-2.57,12.465,5.784,5.784,0,0,1,.114-1.483c.126-.529.839-3.553.839-3.553a2.509,2.509,0,0,1-.208-1.032c0-.965.56-1.688,1.256-1.688a.874.874,0,0,1,.879.98A13.971,13.971,0,0,1,24.224,25a1.01,1.01,0,0,0,1.029,1.256c1.233,0,2.064-1.586,2.064-3.467a2.439,2.439,0,0,0-2.709-2.5A3.087,3.087,0,0,0,21.4,23.416a1.88,1.88,0,0,0,.43,1.279.316.316,0,0,1,.093.364c-.032.119-.1.408-.132.523a.224.224,0,0,1-.326.162,2.511,2.511,0,0,1-1.334-2.49,4.313,4.313,0,0,1,4.655-4.074,3.9,3.9,0,0,1,4.124,3.735c0,2.559-1.421,4.469-3.514,4.469a1.866,1.866,0,0,1-1.591-.812s-.379,1.5-.459,1.792a5.47,5.47,0,0,1-.644,1.38A6.5,6.5,0,1,0,24.49,17" transform="translate(-11.33 -10.696)" fill="#fff"/>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h5>Pinterest</h5>
        <p>Get <span>50 Sparkles</span> when you Follow us on Pinterest</p>
      </div>
      <div class="grid__item small--one-half medium-up--one-quarter earn-grid">
        <div class="svg-wrapper earn--refer-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_25249" data-name="Rectangle 25249" width="30" height="30" transform="translate(497 872)" fill="#430606" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_129960" data-name="Mask Group 129960" transform="translate(-497 -872)"  >
              <path id="Edit" d="M18.4,25.435H5.8a5.8,5.8,0,0,1-5.8-5.8V7.033a5.8,5.8,0,0,1,5.8-5.8h6.3a.756.756,0,1,1,0,1.513H5.8A4.29,4.29,0,0,0,1.511,7.033v12.6A4.29,4.29,0,0,0,5.8,23.922H18.4a4.291,4.291,0,0,0,4.287-4.285v-6.3a.756.756,0,1,1,1.511,0v6.3A5.8,5.8,0,0,1,18.4,25.435Zm-11.186-6.3a.757.757,0,0,1-.748-.863l.683-4.782a.748.748,0,0,1,.213-.429L17.884,2.539h0l0,0a.01.01,0,0,1,.005-.005L19.661.762a2.751,2.751,0,0,1,3.8,0l1.366,1.366a2.687,2.687,0,0,1,0,3.8L23.064,7.7l0,0,0,0a.016.016,0,0,0-.005.005L12.532,18.228a.749.749,0,0,1-.428.214l-4.782.683A.749.749,0,0,1,7.215,19.133ZM18.424,4.139h0L8.611,13.95l-.506,3.535,3.536-.505,9.811-9.812L18.424,4.139ZM21.563,1.5a1.181,1.181,0,0,0-.832.335L19.494,3.068,22.523,6.1,23.76,4.861a1.173,1.173,0,0,0,0-1.663L22.394,1.832A1.177,1.177,0,0,0,21.563,1.5Z" transform="translate(499 874)" fill="#bc913f"/>
            </g>
          </svg>
        </div>
        <h5>Photo, Video & Review Share</h5>
        <p>Share photo, video or review of a product & get <span>100 Sparkles</span> each</p>
      </div>
    </div>    
  </section>
</div>
{% schema %}
{
  "name": "Earn sparkles",
  "class": "rewards-earn-sparkles",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title",			
    "default": "Sparkles"
  },
  {
    "type": "text",
    "id": "sub_title",
    "label": "Sub title",			
    "default": "Ways to earn"
  }
  ]
}
{% endschema %}