<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>Enchanted Disney Fine<br/>Jewelry Rewards Program</h1>
      </div>
      <div class="rte">
        <div id="stamped-rewards-widget" data-widget-type="rewards-summary" ></div>
        <div id="stamped-rewards-widget" data-widget-type="rewards-how-it-works" 
             data-label-step-title-one="Membership" data-label-step-description-one="Create an account and get 200 Sparkles as welcome bonus" 
             data-label-step-title-two="Earn" data-label-step-description-two="Earn Sparkles every time you shop, review or refer your friends" 
             data-label-step-title-three="Redeem" data-label-step-description-three="Redeem Sparkles for discount vouchers or pay using Sparkles">
        </div>
        <div id="stamped-rewards-widget" data-widget-type="rewards-earnings" data-label-title="Ways to Earn Sparkles"></div>
      </div>
    </div>
  </div>
</div>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        <div id="stamped-rewards-widget" data-widget-type="rewards-spendings" 
             data-label-description="Redeeming your Sparkles is easy. &lt;br&gt; Simply exchange your Sparkles for discount coupons to spend in any order. ">
        </div>
        <div id="stamped-rewards-widget" data-widget-type="rewards-referral" 
             data-label-description="Add to your Sparkle bank when your friend makes their first purchase">
        </div>
      </div>
    </div>
  </div>
</div>
