<div class="villans_page">
  {% section 'maleficent-page-banner' %}
  {% section 'maleficent_three_banner' %}
  {% section 'maleficent-collection_section' %}
  {% section 'maleficent-craftmenship' %}
  {% section 'maleficent-collection-product' %}
  {% section 'the-chateau-section' %}
</div>