<section class="page__content" data-section-type="shopinfo__page" data-section-id="{{ section.id }}">
  <div class="inner__wrapper">
    <div class="content__full-width content_center">
      <h1>{{ page.title }}</h1>
      {% if page.metafields.content.sub_title != blank %}
      <p>{{ page.metafields.content.sub_title }}</p>
      {% endif %}
    </div>
    <h4>OUR RESPONSE TO COVID-19</h4>
    <p>
      As COVID-19 continues to impact the world, keeping everyone safe and connected is still our top priority.
      As a company, we have taken measures to protect the health and safety of our staff, customers, and communities.
      Our Online Shop remains open and we are happy to assist you with any questions you may have via email-
      <a href="mailto:customerservice@enchantedfinejewelry.com" aria-describedby="a11y-external-message">customerservice@enchantedfinejewelry.com</a>.
      <br><br>
      Our distribution centers remain open, with additional health and safety measures in place.
      We’re so grateful to our logistics and distribution teams for their commitment and hard work that keeps our e-commerce business up and running
      <br><br>
      
    </p>
    <h4>SUPPORTING OUR HOMETOWN</h4>
    <p>
      To date, Enchanted Disney Fine Jewelry and its partner company, Verigold USA, has committed more than $7k to NYC Mayor’s fund to help the community and those effected directly and indirectly by COVID-19.
      <br><br>
      Our thoughts are with all of those who have been affected by COVID-19. Keep taking care of yourself and each other.
    </p>
  </div>
</section>
