<section class="section-wrapper">
  <div class="page-width">
    <div class="custom-tabs-wrapper small--text-center">
      <div class="grid grid--no-gutters tabs">
        <div class="grid__item grid__item-tabs-content">
          <div class="tabs-content-wrapper">
            <h2 class="small--hide"><i>Princesses <br>&amp; more</i></h2>
            <div id="tab-1" class="tab-content current">
              <div class="image-wrapper">
                <img class="small--hide"
                     src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Cinderella_picture.png?v=1635116973" alt="" />
                <img class="medium-up--hide"
                     src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Group_129224.png?v=1635117063" alt="" />
                <h2 class="medium-up--hide"><i>Princesses <br>&amp; more</i></h2>
              </div>
              <div class="content">
                <span class="sub-title">Jewelry collection</span>
                <h3 class="title">Cinderella</h3>
                <div class="text"><p>Magic might have turned her life upside down overnight but Cinderella believes in the miracle of compassion and respect for all creatures, big or small. The jewelry she inspires is as soft and graceful as her.</p></div>
                <a href="" class="btn-border btn-blue">
                  <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
                  Shop collection
                  <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
                </a>
              </div>
            </div>
            <div id="tab-2" class="tab-content">
              <div class="image-wrapper">
                <img class="small--hide"
                     src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Cinderella_picture.png?v=1635116973" alt="" />
                <img class="medium-up--hide"
                     src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Group_129224.png?v=1635117063" alt="" />
              	<h2 class="medium-up--hide"><i>Princesses <br>&amp; more</i></h2>
              </div>
              <div class="content">
                <span class="sub-title">Jewelry collection</span>
                <h3 class="title">Tinker bell</h3>
                <div class="text"><p>Magic might have turned her life upside down overnight but Cinderella believes in the miracle of compassion and respect for all creatures, big or small. The jewelry she inspires is as soft and graceful as her.</p></div>
                <a href="" class="btn-border btn-blue">
                  <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
                  Shop collection
                  <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item grid__item-tabs">
          <div class="tabs-nav-wrapper">
            <ul class="tabs-nav">
              <li class="current" data-tab="tab-1">
                {% include 'icon-sparkles' %}
                Cindrella
              </li>
              <li data-tab="tab-2">
                {% include 'icon-sparkles' %}
                Tinker bell
              </li>
              <li data-tab="tab-2">
                {% include 'icon-sparkles' %}
                Aurora
              </li>
              <li data-tab="tab-2">
                {% include 'icon-sparkles' %}
                Jasmine
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Custom Tabs (Princesses)",
	"class": "custom-tabs-section princesses",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
	  {
		"type": "text",
		"id": "title",
		"label": "Title",
		"default": "Title"
	  },
	  {
		"type": "text",
		"id": "sub_title",
		"label": "Subtitle",
		"default": "Subtitle"
	  }
	],
	"blocks": [
      {
      	"type": "block",
		"name": "Block",
		"settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "Title"
          },
		  {
            "type": "text",
            "id": "sub_title",
            "label": "Subtitle",
			"default": "Subtitle"
          },
		  {
            "type": "richtext",
            "id": "text",
            "label": "Text",
			"default": "<p>Add text to give information about your chosen collection.</p>"
          },
		  {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
			"default": "Explore"
          },
		  {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
		]
      }
	],
    "presets": [
      {
        "name": "Custom tabs (Princesses)",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
