<div class="page-the-chateau">
  {% section 'tc-main-banner' %}
  {% section 'tc-feature-row-bg' %}
  {% section 'tc-two-columns' %}
  {% section 'tc-quote' %}
  {% section 'tc-feature-row' %}
  {% section 'tc-three-columns' %}
  {% section 'tc-feature-row-1' %}
  {% section 'tc-two-columns-1' %}
  {% section 'tc-image-with-text' %}
  {% section 'tc-feature-row-2' %}
  {% section 'tc-three-columns-1' %}
  {% section 'tc-feature-row-bg-1' %}
  {% section 'tc-two-columns-2' %}
</div>