<style>
  /* Main Banner css start */
  .inspiration_slider_banner{
    margin-bottom:30px;
  }
  .inspiration_slider_banner .grid{
    display: flex;
    align-items: center;
  }
  .inspiration_slider_banner .banner_title{
    font-size: 58px;
    color: var(--heading-color);
    line-height: 65px;
    letter-spacing: 0px;
  }
  .template-page .inspiration_slider_banner .banner_subheading{
    font-family: var(--font-body-family);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--nav-level-one-hover-color);
  }
  .inspiration_slider_banner .inspiration_princess{position: relative;}
  .inspiration_slider_banner .princess_slider_nav {
    position: absolute;
    bottom: 16px;
    left: 10%;
    width: 300px;
  }
  .inspiration_slider_banner .slick-next {
    position: absolute;
    right: auto;
    left: 10.3%;
    bottom: 90px;
    top: auto;
    font-size: 16px;
    line-height: 16px;
    width: auto;
    height: auto;
    color: var(--nav-level-one-hover-color);
  }
  .inspiration_slider_banner .slick-next svg{
    margin-left: 6px;
  }
  .inspiration_slider_banner .slick-next:before{
    display: none;
  }
  .inspiration_slider_banner .nav-slider{
    margin: 0 5px;
  }
  /* Main Banner css end */
  /* Three banners css start */
  .three-block_mobile-slider {
    background-color: var(--three-banner-slider-bg-color);
    padding: 80px 0;
  }
  /* Three banners css end */
  /* princess collection categories start */
  .princess-collection-categories h2{
    font-size: 32px;
    line-height: 65px;
    letter-spacing: 0px;
    color: var(--heading-color);
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .princess-collection-categories .section-header a {
    border-bottom: none;
  }
  .princess-collection-categories .h3{
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0px;
    color: var(--nav-level-one-hover-color);
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
  }
  .princess-collection-categories .collection-item_title svg{
    margin-left: 4px;
  }
  /* princess collection categories end */
  
  /* Princess Craftmenship section css start  */
  .craftmenship-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .craftmenship-text img{display: block; margin: 0 auto;}
  .craftmenship-text .top-left-image {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 240px; */
    width: 19%;
  }
  .craftmenship-text .top-right-image {
    position: absolute;
    top: 0;
    right: 0;
    /* width: 380px; */
    width: 30%;
  }
  .craftmenship-text .bottom-left-image {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 30%;
  }
  .craftmenship-text .bottom-right-image {
    position: absolute;
    bottom: 3%;
    right: 0;
    width: 30%;
  }
  .princess-craftmenship-section .text.section {
    position: absolute;
    text-align: center;
    width: 40%;
  }
  .princess-craftmenship-section .text.section .heading_title{
    font-size: 32px;
    line-height: 65px;
    color: var(--heading-color);
  }
  .princess-craftmenship-section .text.section .sub_heading{
    font-size: 16px;
    line-height: 20px;
    color: var(--nav-level-one-hover-color);
  }
  /* Princess Craftmenship section css end */
  /* extraordinary moment section css start */
  .extraordinary-moment .section_header h3{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0px;
    color: var(--heading-color);
    margin-bottom: 60px;
  }
  .extraordinary-moment .grid__item{
    position: relative;
  }
  .extraordinary-moment p{
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--black-color);
  }
  .extraordinary-moment p.color__blu{
    color: var(--nav-level-one-hover-color);
  }
  .extraordinary-moment .custom__item-inner--image{
    margin-bottom:10px;
  }
  .extraordinary-moment .product.details {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9%;
    text-align: center;
    width: 50%;
  }
  .extraordinary-moment .product.details h5{
    font-size: 14px;
    line-height: 20px;
    color: var(--nav-level-one-hover-color);
    letter-spacing: 0px;
    margin-bottom:6px;
  }
  .extraordinary-moment .product.details p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--black-color);
  }
  /* extraordinary moment section css end */
  @media(min-width:768px){
    /* Main Banner css start */
    .inspiration_slider_banner .text_container {
      text-align: right;
      padding-left: 22%;
    }
    /* Main Banner css end */
    /* Three banners css start */
    .three-block_mobile-slider .header-title-wrapper {
      display: flex;
      width: 100%;
      max-width: 900px;
      margin: 0 auto 40px;
      justify-content: space-between;
      align-items: center;
    }
    .three-block_mobile-slider .header--sub-heading {
      font-size: 48px;
      line-height: 65px;
      letter-spacing: 0;
      color: var(--heading-color);
      width: 46%;
      margin-bottom: 0;
    }
    .three-block_mobile-slider .header--main-heading {
      line-height: 20px;
      letter-spacing: 0;
      color: var(--nav-level-one-hover-color);
      width: 53%;
      margin-bottom: 0;
    }
    /* Three banners css end */
    /* extraordinary moment section css start */
    .extraordinary-moment .third_grid{
      margin-top: -16%;
    }
    /* extraordinary moment section css end */
  }
  @media(min-width:768px) and (max-width:1024px){
    /* Princess Craftmenship section css start */
    .princess-craftmenship-section .text.section {
      position: absolute;
      text-align: center;
      width: 50%;
    }
    .princess-craftmenship-section .text.section .heading_title {
      font-size: 19px;
    }
    .princess-craftmenship-section .text.section .sub_heading {
      font-size: 12px;
      line-height: 16px;
    }
    /* Princess Craftmenship section css end */
  }
  @media(max-width:767px){
    /* Main Banner css start */
    .inspiration_slider_banner .grid {
      flex-direction: column-reverse;
    }
    .inspiration_slider_banner .text_container {
      text-align: center;
      padding: 0 20px;
    }
    .inspiration_slider_banner  .banner_title {
      font-size: 38px;
      line-height: 46px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .inspiration_slider_banner .slick-next{
      bottom: -61px;
    }
    .inspiration_slider_banner .princess_slider_nav {
      position: static;
      margin: 60px auto 0;
    }
    /* Main Banner css end */
    /* Three banners css start */
    .three-block_mobile-slider .header--sub-heading {
      font-size: 38px;
      line-height: 42px;
      letter-spacing: 0;
      color: var(--heading-color);
      margin-bottom: 14px;
      text-align: center;
    }
    .three-block_mobile-slider .header--main-heading {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--nav-level-one-hover-color);
      margin-bottom: 40px;
      text-align: center;
    }
    .three-block_mobile-slider .grid__item:nth-child(n+2){
      display: none;
    }
    .three-block_mobile-slider .slick-dots{
      padding-left: 22px;
    }
    .three-block_mobile-slider .slick-dots li {
      height: 3px;
      width: calc(100% / 3);
      margin: 0;
    }
    .three-block_mobile-slider .slick-dots li button {
      background: #cccccc;
      height: 4px;
      width: 100%;
      padding: 0;
    }
    .three-block_mobile-slider .slick-dots li.slick-active button{
      background: var(--heading-color);
    }
    /* Three banners css end */
    /* princess collection categories start */
    .princess-collection-categories h2{
      font-size: 28px;
      line-height: 52px;
      margin-bottom: 14px;
    }
    .princess-collection-categories .section-header {
      margin-bottom: 0;
    }
    .princess-collection-categories .section-header svg{  
      width: 100%;
    }
    .princess-collection-categories .collection_item_link {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    .princess-collection-categories .custom__item-inner--image{
      width:50%;
      padding-top: 50% !important;
    }
    .princess-collection-categories .grid__item:nth-child(even) .collection_item_link {
      flex-direction: row-reverse;
    }
    /* princess collection categories end */
    /* Princess Craftmenship section css start */
    .princess-craftmenship-section .text.section{
      width: 90%;
    }
    .craftmenship-text .top-left-image {
      position: absolute;
      top: 20px;
      left: 0;
      width: 37%;
    }
    .princess-craftmenship-section .text.section .heading_title {
      font-size: 26px;
    }
    
    .craftmenship-text .top-right-image {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
    }
    .craftmenship-text .bottom-left-image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 44%;
    }
    .craftmenship-text .bottom-right-image {
      position: absolute;
      bottom: 4%;
      right: 0;
      width: 42%;
    }
    /* Princess Craftmenship section css end */
    /* extraordinary moment section css start */
    .extraordinary-moment .section_header h3 {
      font-size: 38px;
      line-height: 46px;
      letter-spacing: 0px;
      color: var(--heading-color);
      margin-bottom: 30px;
    }
    .extraordinary-moment .grid__item{
      text-align: center;
    }
    .extraordinary-moment p{
      margin-bottom: 20px;
    }
    .extraordinary-moment p.color__blu{
      color: var(--black-color);
    }
    .extraordinary-moment .product.details {
      position: absolute;
      left: 52.5%;
      transform: translateX(-50%);
      bottom: 4%;
      text-align: center;
      width: 90%;
    }
    /* extraordinary moment section css end */
  }
</style>
<script>
  $(document).ready(function(){
    var PrincesssPage = {
      initSliders: function() {
        var PrincessStylesSlider = $('.princess_slider');
        var ThreeBannerSlider = $('.display-flex');
        if(PrincessStylesSlider.length) {
          PrincessStylesSlider.slick({
            dots: false,
            arrows: true,
            prevArrow: false,
            nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" >Flip Next Page<svg xmlns="http://www.w3.org/2000/svg" width="5.576" height="10.94" viewBox="0 0 5.576 10.94"><path id="Right_arrow" data-name="Right arrow" d="M.342,10.94A.342.342,0,0,1,.1,10.357L4.826,5.631a.229.229,0,0,0,0-.323L.1.584A.342.342,0,0,1,.584.1L5.309,4.826a.911.911,0,0,1,0,1.289L.584,10.84a.341.341,0,0,1-.242.1" fill="#12204a"/></svg></button>',
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            rows:0,
            asNavFor: '.princess_slider_nav',
            responsive: [
            {
              breakpoint: 640,
              settings: {
                slidesToShow: 1
              }
            }
            ]
          });
          $('.princess_slider_nav').slick({
            slidesToShow: 2,
            slidesToScroll: 1,
            asNavFor: PrincessStylesSlider,
            dots: false,
            arrows: false,
            rows:0,
            focusOnSelect: true
          });
        }
        if(ThreeBannerSlider.length && $(window).width() < 767) {
          ThreeBannerSlider.slick({
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [
            {
              breakpoint: 640,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            ]
          });
        }
      }
    }
    
    PrincesssPage.initSliders();
  });
</script>