<div class="page-width vault-page">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1 class="heading">{{ page.title }}</h1>
        <h6 class="subheading">Once sold out, never to be seen again</h6>
      </div>
      <div class="vault_content">
        <p class="discover-text">Discover exquisite fine jewelry pieces inside the Enchanted Vault that are never to be seen again once the styles go out of stock. Get them while you can and forever treasure the pieces in your own jewelry vault.</p>
        <a class="unlock_vault" href="#">Unlock the enchanted vault</a>
        
        {% section 'vault-section'%}
      </div>
    </div>
  </div>
</div>
