<div class="page-the-chateau">
  {% section 'the-chateau-banner' %}
  {% section 'tc-feature-row-5' %}
  {% section 'tc-quote' %}
  {% section 'tc-feature-row' %}
  {% section 'tc-feature-row-2' %}
  {% section 'tc-image-with-text' %}
  {% section 'tc-feature-row-3' %}
  {% section 'tc-feature-row-4' %}
  {% section 'tc-feature-row-1' %}
  {% section 'tc-icons' %}
</div>