<div class="ed--wrapper video-consultation">
  <div class="consult-work-section">
    <div class="consult-half consult-text">
      <h2 class="title">Here’s how it works ?</h2>
      <p class="para">
        Looking for stunning pieces of fine jewelry to perfect your moments? Or maybe you are dreaming of your Happily Ever After? 
        Connect with us via Video Consultation appointment for 30 minutes and our expert consultants can help you one-on-one in any way you 
        need and you will feel like you are right in your personal jewelry showroom. Let us show you the pieces on camera, walk you through 
        every detail of each piece, and give you styling tips and address any questions you may have.
      </p>
      <p class="para">
        Let us help you fall in love with the perfect Enchanted Disney Fine Jewelry piece for you.
      </p>
    </div>
    <div class="consult-half consult-image">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/iStock-1164645437.png?v=1594017521" data-sizes="auto">
    </div>
  </div>
  <div class="consult-banner-section">
    <div class="consult-half consult-text">
      <h2 class="title">Video Call Consultation</h2>
      <p class="para">Let our design consultants assist you through an Enchanted experience as you bring to life the jewelry of your dreams with us.</p>
      <a href="" class="button btn">BOOK NOW</a>
    </div>
    <div class="consult-half consult-image">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Mask_Group_209.png?v=1594019166" data-sizes="auto">
    </div>
  </div>
  <div class="consult-step-section">
    <div class="consult-one-third step1">
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60"><defs><style>.a{fill:rgba(255,255,255,0);}.b{fill:#11214a;}</style></defs><g transform="translate(-201 -661)"><rect class="a" width="60" height="60" transform="translate(201 661)"/><g transform="translate(197.549 751.127)"><path class="b" d="M19.128-40.979H48.175c4.444,0,6.656-2.212,6.656-6.592V-73.535c0-4.38-2.211-6.592-6.656-6.592H19.128q-6.666,0-6.677,6.592v25.964Q12.451-40.969,19.128-40.979ZM18.809-44.4a2.642,2.642,0,0,1-2.934-2.977V-67.432a2.651,2.651,0,0,1,2.934-2.977H48.452a2.666,2.666,0,0,1,2.956,2.977V-47.38A2.657,2.657,0,0,1,48.452-44.4ZM29.484-62.775h1.255c.744,0,1-.213,1-.957v-1.255c0-.744-.255-.978-1-.978H29.484c-.744,0-1,.234-1,.978v1.255C28.485-62.988,28.74-62.775,29.484-62.775Zm7.081,0H37.8c.744,0,1-.213,1-.957v-1.255c0-.744-.255-.978-1-.978H36.565c-.766,0-1,.234-1,.978v1.255C35.566-62.988,35.8-62.775,36.565-62.775Zm7.06,0h1.255c.744,0,.978-.213.978-.957v-1.255c0-.744-.234-.978-.978-.978H43.625c-.744,0-1,.234-1,.978v1.255C42.625-62.988,42.881-62.775,43.625-62.775Zm-21.2,6.953h1.255c.744,0,.978-.213.978-.957v-1.255c0-.744-.234-.957-.978-.957H22.424c-.744,0-1,.213-1,.957v1.255C21.425-56.034,21.68-55.822,22.424-55.822Zm7.06,0h1.255c.744,0,1-.213,1-.957v-1.255c0-.744-.255-.957-1-.957H29.484c-.744,0-1,.213-1,.957v1.255C28.485-56.034,28.74-55.822,29.484-55.822Zm7.081,0H37.8c.744,0,1-.213,1-.957v-1.255c0-.744-.255-.957-1-.957H36.565c-.766,0-1,.213-1,.957v1.255C35.566-56.034,35.8-55.822,36.565-55.822Zm7.06,0h1.255c.744,0,.978-.213.978-.957v-1.255c0-.744-.234-.957-.978-.957H43.625c-.744,0-1,.213-1,.957v1.255C42.625-56.034,42.881-55.822,43.625-55.822Zm-21.2,6.975h1.255c.744,0,.978-.234.978-.978V-51.08c0-.744-.234-.957-.978-.957H22.424c-.744,0-1,.213-1,.957v1.255C21.425-49.081,21.68-48.847,22.424-48.847Zm7.06,0h1.255c.744,0,1-.234,1-.978V-51.08c0-.744-.255-.957-1-.957H29.484c-.744,0-1,.213-1,.957v1.255C28.485-49.081,28.74-48.847,29.484-48.847Zm7.081,0H37.8c.744,0,1-.234,1-.978V-51.08c0-.744-.255-.957-1-.957H36.565c-.766,0-1,.213-1,.957v1.255C35.566-49.081,35.8-48.847,36.565-48.847Z" transform="translate(0 0)"/></g></g></svg>
      <h3 class="title">Book Your Slot</h3>
      <p>Book your free slot by entering a few details about your requirement.</p>
      <span class="number">1</span>
    </div>
    <div class="consult-one-third step2">
      <svg xmlns="http://www.w3.org/2000/svg" class="booking-icon" width="60" height="60" viewBox="0 0 60 60">
        <defs>
          <style>
            .booking-icon .a{fill:rgba(255,255,255,0);}
            .booking-icon .b,.c,.e{fill:none;}
            .booking-icon .b,.c{stroke:#11214a;}
            .booking-icon .b{stroke-width:4px;}
            .booking-icon .c{stroke-linecap:round;stroke-width:2.5px;}
            .booking-icon .d{stroke:none;}
          </style>
        </defs>
        <g transform="translate(-610 -654)"><g transform="translate(0 300)"><rect class="a" width="60" height="60" transform="translate(610 354)"/><g class="b" transform="translate(621 364)"><circle class="d" cx="19.5" cy="19.5" r="19.5"/><circle class="e" cx="19.5" cy="19.5" r="17.5"/></g></g><g transform="translate(630.75 678.122)"><line class="c" x2="5.423" y2="5.423" transform="translate(0 6.78)"/><line class="c" y1="12.203" x2="12.203" transform="translate(5.423 0)"/></g></g></svg>
        <h3 class="title">Confirmation</h3>
        <p>Our team will confirm the appointment & a design consultant will be assigned to assess your requirement.</p>
        <span class="number">2</span>
      </div>
      <div class="consult-one-third step3">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60"><defs></defs><g transform="translate(-1022 -652)"><rect class="a" width="60" height="60" transform="translate(1022 652)"/><g transform="translate(947 460.473)"><g transform="translate(82 203.527)"><path class="b" d="M17.425-52.344H29.542l-.523,3.561H26.367a1.656,1.656,0,0,0-1.645,1.645,1.673,1.673,0,0,0,1.645,1.665h18.31a1.673,1.673,0,0,0,1.645-1.665,1.656,1.656,0,0,0-1.645-1.645H42.025L41.5-52.344H53.619c3.309,0,4.974-1.587,4.974-4.974V-79.5c0-3.387-1.664-4.974-4.974-4.974H17.425c-3.31,0-4.974,1.587-4.974,4.974v22.181C12.451-53.931,14.116-52.344,17.425-52.344ZM16.4-60.86c-.581,0-.832-.232-.832-.832V-79.44c0-1.374.581-1.916,1.916-1.916H53.561c1.316,0,1.916.542,1.916,1.916v17.748c0,.6-.271.832-.851.832Zm19.123,6.6a1.809,1.809,0,0,1-1.8-1.8,1.818,1.818,0,0,1,1.8-1.781A1.814,1.814,0,0,1,37.3-56.06,1.805,1.805,0,0,1,35.522-54.26Z" transform="translate(-12.451 84.473)"/></g><g transform="translate(101.123 211.43)"><path class="b" d="M13.2-65.93a1.413,1.413,0,0,0,.713-.244L21.2-70.388c.519-.306.7-.506.7-.838s-.181-.531-.7-.831l-7.289-4.22a1.4,1.4,0,0,0-.713-.238c-.463,0-.75.35-.75.894v8.789C12.451-66.287,12.739-65.93,13.2-65.93Z" transform="translate(-12.451 76.514)"/></g></g></g></svg>
        <h3 class="title">Live Video Call</h3>
        <p>Have a exceptional Live Video Calling Experience with our jewelry expertise in the comfort of your home.</p>
        <span class="number">3</span>
      </div>
    </div>
    
  </div>
  <style>
    body{
      background:#ECEEF0;
    }
    .breadcrumb{
      display: none;
    }
    .consult-work-section {
      margin-bottom: 0px;
    }
  </style>