{% if section.settings.title != blank %}
<div class="section-header">
  {% if section.settings.sub_title != blank %}
  <span class="subtitle">{{ section.settings.sub_title }}</span>
  {% endif %}
  <h2 class="title">{{ section.settings.title }}</h2>
</div>
{% endif %}