<div class="page-width">
<div class="mid-annual-landiang-page">
  {% section 'mid-annual-banner-section' %}
  {% comment %}
  <div class="mid-annual-video-section videoWrapper">
  	<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F1724644634463973%2Fvideos%2F3000260793417195%2F&width=1920" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </div>
  {% endcomment %}
  {% section 'mid-annual-products-section' %}
</div>
</div>


<style>
  .countdown-wrapper {
    background: #e6f6f5;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 15px;
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .countdown-wrapper h2{
    font-size: 50px;
    font-family: "NewYork-Regular";
    color: #11214A;
    margin-bottom: 0;
    text-transform: none;
  }
  .countdown-wrapper .subtitle {
    font-size: 34px !important;
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 1 !important;
  }
  .countdown-wrapper h3{
    font-size: 40px;
    font-family: "NewYork-Regular";
    color: #11214A;
  }
  .product-grid-slider .mm-product-image.has-hover-img:hover img.first-image {
    opacity: 1 !important;
  }
  .countdown-wrapper #demo{
    font-size: 60px;
    font-family: "NewYork-Regular";
    color: #11214A;
  }
  .main-content {
    background: #e4e4e4;
  }
  .mid-annual-landiang-page{
  	background:#fff;
    padding: 15px 15px;
  }
  .mid-annual-landiang-page .mid-annual-banner-setion{
   margin-bottom:10px; 
  }
  .mid-annual-landiang-page .mid-annual-banner-setion img{
    width:100%;
    display:block;
  }
  .product-grid-slider .mm-product-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 54px;
  }
  .mid-annual-landiang-page .mid-annual-banner-setion a{
    display: inherit;
  }
  .mid-annual-landiang-page .mid-annual-banner-setion .mobile_img{
    display:none;
  }
  .mid-annual-landiang-page .mid-annual-video-section{
  	margin-bottom:10px;
  }
  .mid-annual-landiang-page .mid-annual-video-section video{
    width:100%;
    display:block;
  }
  .mid-annual-landiang-page .banner-and-products-section{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    margin: 0 -7.5px 0;
  }
  .mid-annual-landiang-page .banner-and-products-section.margin-0{
    margin: 0;
  }
  .mid-annual-landiang-page .banner-and-products-section .left-content,
  .mid-annual-landiang-page .banner-and-products-section .right-content{
    width: 50%;
    padding: 0 7.5px;
  }
  .mid-annual-landiang-page .banner-and-products-section .left-content img{
   width:100%; 
    display:block;
  }
  .product-grid-slider .mm-product-title {
    font-size: 13px;
  }
  .mid-annual-products-box{
  	height: 100%;
  }
  .mid-annual-grid .grid__item {
    margin-bottom: 15px;
  }
  .mid-annual-landiang-page .mid-annual-products-box .mid-annual-grid{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    flex-wrap:wrap;
    margin-left:-15px;
    align-items: stretch;
    height: 100%;
  }
  .mid-annual-grid .grid__item {
    padding-left: 15px;
  }
  .mid-annual-landiang-page .mid-annual-products-box .mid-annual-grid .product-card{
    background-image: url(https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Gray_Background_-_1000x1500_d30e0465-5401-4e6b-a728-736702096d92.jpg?v=1599473319);
    background-size: cover;
    background-position: 0px -40px;
  }
  .product-grid-slider .mm-product-info {
    padding: 4px 15px;
  }
  .product-grid-slider .mm-product-image {
    padding: 0;
    position: relative;
    height: auto;
  }
  @media only screen and (max-width: 767px){
    .videoWrapper-test iframe{
      height: 540px;
    }
    .product-grid-slider .mm-product-info {
      padding: 4px 5px;
    }
    .product-grid-slider .mm-product-price .mm-price {
      font-size: 14px;
    }
    .product-grid-slider .mm-product-price .mm-original-price {
      font-size: 14px;
      margin-right: 0;
    }
    .mid-annual-landiang-page .mid-annual-banner-setion .desktop_img{
      display:none; 
    }
    .mid-annual-landiang-page .mid-annual-banner-setion .mobile_img{
      display:block;
    }
    .countdown-wrapper {
      padding: 50px 0;
    }
    .countdown-wrapper h2{
      font-size: 32px;
    }
    .countdown-wrapper .subtitle {
      font-size: 24px !important;
      margin-top: 10px;
      margin-bottom: 40px;
      line-height: 1 !important;
    }
    .countdown-wrapper h3{
      font-size: 30px;
    }
    .countdown-wrapper #demo{
      font-size: 40px;
    }
  }
  @media only screen and (max-width: 768px){
    .mid-annual-landiang-page .banner-and-products-section {
      flex-direction: column;
    }
    .mid-annual-landiang-page .banner-and-products-section.reverse-mobile {
      flex-direction: column-reverse;
    }
    .mid-annual-landiang-page .banner-and-products-section  .left-content{
      margin: 15px 0;
      width: 100%;
    }
    .mid-annual-landiang-page .banner-and-products-section .left-content,
    .mid-annual-landiang-page .banner-and-products-section .right-content{
     width: 100%;
    }
  }
</style>