<section class="pageload__popup">
  <div class="promotion_container">
    <span class="close-promotion">×</span>
    <a href="/collections/solitaire-studs">
      <img src="{{ settings.popupImg | img_url:"master" }}" class="lazyload">
    </a>
  </div>
</section>