<!-- Elsa -->
<div class="grid__item medium-up--one-half grid-products" id="look__elsa">
  <a href="javascript:void(0);" class="close-grid-products">
    {% include 'icon-close' %}
  </a>
  <h3>Shop the <i>Look</i></h3>
  {%- assign max_height = 198 -%}
  {%- assign product1 = all_products['jewelili-enchanted-disney-fine-jewelry-sterling-silver-8-x-5-mm-pear-shape-aquamarine-and-1-5-cttw-natural-white-round-diamond-elsa-dangle-earrings'] -%}
  {%- assign product2 = all_products['enchanted-disney-fine-jewelry-sterling-silver-with-1-6cttw-diamonds-elsa-snowflake-necklace'] -%}
  {%- assign product3 = all_products['enchanted-disney-fine-jewelry-sterling-silver-and-10k-rose-gold-with-1-6-cttw-diamond-with-aquamarine-elsa-engagement-ring'] -%}
  {%- assign product4 = all_products[] -%}

  <div class="grid grid--no-gutters grid--uniform look-products-wrapper">
    {% if product1.available %}
    <div class="grid__item small--one-half medium-up--one-half grid__item--product1">
      {% include 'product-card-grid', max_height: max_height, product: product1, show_vendor: section.settings.show_vendor %}
    </div>
    {% endif %}
    {% if product2.available %}
    <div class="grid__item small--one-half medium-up--one-half grid__item--product2">
      {% include 'product-card-grid', max_height: max_height, product: product2, show_vendor: section.settings.show_vendor %}
    </div>
    {% endif %}
    {% if product3.available %}
    <div class="grid__item small--one-half medium-up--one-half grid__item--product2">
      {% include 'product-card-grid', max_height: max_height, product: product3, show_vendor: section.settings.show_vendor %}
    </div>
    {% endif %}
  </div>
</div>

<!-- Tinker Bell -->
<div class="grid__item medium-up--one-half grid-products" id="look__tinkerbell">
  <a href="javascript:void(0);" class="close-grid-products">
    {% include 'icon-close' %}
  </a>
  <h3>Shop the <i>Look</i></h3>
  {%- assign max_height = 198 -%}
  {%- assign product1 = all_products['enchanted-disney-fine-jewelry-sterling-silver-1-20-cttw-tinkerbell-fairy-necklace'] -%}
  {%- assign product2 = all_products['enchanted-disney-fine-jewelry-sterling-silver-with-1-5cttw-diamonds-tinker-bell-earrings'] -%}
  {%- assign product3 = all_products['enchanted-disney-fine-jewelry-sterling-silver-and-10k-yellow-gold-1-10cttw-tinker-bell-bracelet'] -%}
  {%- assign product4 = all_products['enchanted-disney-fine-jewelry-sterling-silver-with-1-8cttw-diamonds-tinker-bell-fashion-ring'] -%}

  <div class="grid grid--no-gutters grid--uniform look-products-wrapper">
    {% if product1.available %}
    <div class="grid__item small--one-half medium-up--one-half grid__item--product1">
      {% include 'product-card-grid', max_height: max_height, product: product1, show_vendor: section.settings.show_vendor %}
    </div>
    {% endif %}
    {% if product2.available %}
    <div class="grid__item small--one-half medium-up--one-half grid__item--product2">
      {% include 'product-card-grid', max_height: max_height, product: product2, show_vendor: section.settings.show_vendor %}
    </div>
    {% endif %}
    {% if product3.available %}
    <div class="grid__item small--one-half medium-up--one-half grid__item--product3">
      {% include 'product-card-grid', max_height: max_height, product: product3, show_vendor: section.settings.show_vendor %}
    </div>
    {% endif %}
    {% if product4.available %}
    <div class="grid__item small--one-half medium-up--one-half grid__item--product3">
      {% include 'product-card-grid', max_height: max_height, product: product4, show_vendor: section.settings.show_vendor %}
    </div>
    {% endif %}
  </div>
</div>