<div class="mm-product-price slider">
  <div class="mm-price">{{ product.price | money }}</div>
  {% if product.compare_at_price > product.price %}
  <div class="mm-original-price">{{ product.compare_at_price | money }}</div>
  {% endif %}
  {% if compare_at_price > price %}
  <div class="price-item price-item--discount">
    ({{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0' }}% OFF)
  </div>
  {% endif %}
</div>