
<div class="postcard-main-color-div">
</div>
<div class="postcard-main-bg-div">
  <div class="postcard-title-div">
    <span class="title-small-txt">{{ section.settings.postcard-title }}</span>
    <h4 class="title-big-txt">{{ section.settings.postcard-sub-title }}</h4>
<!--     <img class="postcard-title-bg-img" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/103112745_620282078587489_4150249811668138629_n.png?v=1612246116"> -->
  </div>
  <div class="postcard-img-sec">
    <img class="postcard-img" src="{{ section.settings.postcard-img | img_url: '400x400' }}">
<!--     <img class="postcard-img" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Group_20521.png?v=1612246096"> -->
  </div>
</div>
