<div class="ring-design-Mainsection">
  <div class="ring-design-section">
    <div class="ryt-sec">
      <img class="Anna-ring-img" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Anna_Element_ceeb579c-c25b-4ec9-bdb5-0272b3a79171.png?v=1611917550">
    </div>
  </div>
  <div class="ring-content">
    <h2 class="ring-title">{{ section.settings.ring-title }}</h2>
    <h5 class="ring-sub-title">{{ section.settings.ring-sub-title }}</h5>
  </div>
</div>

