{% include 'princess-feature-row' %}

{% schema %}
{
  "name": "Feature row 1",
  "class": "pdp-feature-row-1 princess_page",
  "settings": [
  {
    "type": "checkbox",
    "id": "show_section",
    "label": "Show section",
    "default": true
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "video_url",
    "label": "Video Link"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Title"
  },
  {
    "type": "richtext",
    "id": "text",
    "label": "Text",
    "default": "<p>Text goes here.</p>"
  },
  {
    "type": "text",
    "id": "button_label",
    "label": "Button label",
    "default": "Shop collection"
  },
  {
    "type": "url",
    "id": "button_link",
    "label": "Button link"
  },
  {
    "type": "select",
    "id": "button_color",
    "label": "Button color",
    "default": "blue",
    "options": [
    {
      "value": "blue",
      "label": "Blue"
    },
    {
      "value": "gold",
      "label": "Gold"
    },
    {
      "value": "white",
      "label": "White"
    }
    ]
  },
  {
    "type": "select",
    "id": "button_hover_color",
    "label": "Button hover color",
    "default": "gold",
    "options": [
    {
      "value": "gold",
      "label": "Gold"
    },
    {
      "value": "blue",
      "label": "Blue"
    },
    {
      "value": "white",
      "label": "White"
    }
    ]
  }
  ]
}
{% endschema %}