{% include 'princess-craftmenship-snip' %}

{% schema %}
{
  "name": "Craftmenship Section",
  "class": "princess-craftmenship",
  "settings": [
  {
    "type": "text",
    "id": "section_title",
    "label": "Heading Text",
    "default": "Exquisite Design & Craftmenship"
  },
  {
    "type": "richtext",
    "id": "text",
    "label": "Sub Text",
    "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis nulla nunc. Etiam fringilla odio non sagittis dapibus. Quisque id enim dictum, egestas odio quis, tincidunt ipsum.</p> <p>Cras massa ante, consequat quis sapien a, porta tempus mi. Nulla fermentum euismod elementum. Phasellus lorem ligula, aliquam vel porta vel, placerat ac nibh.</p>"
  },
  {
    "type": "image_picker",
    "id": "top-left-image",
    "label": "Top Left Image"
  },
  {
    "type": "image_picker",
    "id": "top-right-image",
    "label": "Top right Image"
  },
  {
    "type": "image_picker",
    "id": "bottom-left-image",
    "label": "Bottom Left Image"
  },
  {
    "type": "image_picker",
    "id": "bottom-right-image",
    "label": "Bottom Right Image"
  }
  ]
}
{% endschema %}