<div class="page-width rb-faq-sparkles">
  <section class="section-padding-top">
    <div class="rb-faq-wrapper">
      <p class="header-title">Frequently Asked Questions</p>
      <div class="faq--accordion">
        <div class="accordion-header">
          <p>What is Enchanted Disney Fine Jewelry Rewards Boutique?</p>
        </div>
        <div class="accordion-description">
          <p>Enchanted Disney Fine Jewelry Rewards Boutique is an exclusive rewards program for esteemed customers of <a href"/">www.enchantedfinejewelry.com</a></p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>How can I be a part of Enchanted Disney Fine Jewelry Rewards Boutique?</p>
        </div>
        <div class="accordion-description">
          <p>Just create an account on our website and you would be automatically enrolled our rewards program. Once you're a registered member, you'll have the opportunity to earn points in multiple ways.</p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>What are Sparkles?</p>
        </div>
        <div class="accordion-description">
          <p>Points awarded under the Enchanted Disney Fine Jewelry Rewards Boutique program are called ‘Sparkles’.</p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>What are the Membership Tiers for the program?</p>
        </div>
        <div class="accordion-description">
          <p>We have 3 membership tiers. Entry to the membership tiers is based on Sparkles accumulated by you. Following are the membership tiers:<br>
            • Silver Tier (0-2000 Sparkles)<br>
            - Earn 1 Sparkle for every $1 Spent<br>
            • Gold Tier (2000-7500 Sparkles)<br>
            - Earn 1.5 Sparkles for every $1 Spent<br>
            • Platinum Tier(7500+ Sparkles)<br>
            - Earn 2 Sparkles for every $1 Spent
          </p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>How can I earn Sparkles?</p>
        </div>
        <div class="accordion-description">
          <p>You can earn Sparkles for following actions:<br>
            • Welcome Bonus for Signing Up (200 Sparkles)<br>
            • Special Gift for your Birthday (300 Sparkles)<br>
            • Making a Purchase on our website (Upto 2 Sparkles for every $1 spent)<br>
            • Like our Facebook Page (100 Points)<br>
            • Follow us on Instagram (100 Points)<br>
            • Follow us on Pinterest (50 Points)<br>
            • Write a Review (100 Points)<br>
            • Share a Photo (100 Points)<br>
            • Share a Video (100 Points)<br>
            • Referring your friend (10% Off Coupon for your friend, 500 Sparkles for you)<br>
            Apart from these, we also come with special promotions from time to time to award bonus Sparkles for various activities.
          </p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>What can I redeem my Sparkles for?</p>
        </div>
        <div class="accordion-description">
          <p>You can redeem your points for discount coupons as per the following slabs-<br>
            • 300 Sparkles for $15 Off<br>
            • 500 Sparkles for $25 Off<br>
            • 800 Sparkles for $40 Off<br>
            • 1000 Sparkles for $50 Off<br>
            • 2000 Sparkles for $100 Off
          </p>
        </div>
        <div class="divider"></div>
        
        <div class="accordion-header">
          <p>Can I use the redeemed discount coupon with any other offer?</p>
        </div>
        <div class="accordion-description">
          <p>The redeemed discount coupon cannot be combined with any other offer. Only one promotion can be applied at a time.</p>
        </div>
        <div class="divider"></div>


        <div class="accordion-header">
          <p>How do I check my Sparkles balance?</p>
        </div>
        <div class="accordion-description">
          <p>Just sign in to your account and click on the ‘Rewards’ button appearing at bottom left corner of your screen. You would be able to see your Sparkles balance</p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>How long will it take for Sparkles to be added in my account post purchase?</p>
        </div>
        <div class="accordion-description">
          <p>Sparkles awarded for making a purchase would be added to your account after 45 days from the date of order.</p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>Are there any conditions attached to the voucher code I receive after redeeming my Sparkles?</p>
        </div>
        <div class="accordion-description">
          <p>You can redeem the voucher code received after redeeming your Sparkles only on non discounted items. Also, no two promotions or discounts can be combined at a time.</p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>Do my points expire?</p>
        </div>
        <div class="accordion-description">
          <p>No! Your points will never expire.</p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>What happens to my points if I return the products?</p>
        </div>
        <div class="accordion-description">
          <p>When you return an item, you lose the associated credit you originally earned by buying the item in the first place.</p>
        </div>
        <div class="divider"></div>

        <div class="accordion-header">
          <p>How do I contact support if I have any questions?</p>
        </div>
        <div class="accordion-description">
          <p>You can email us on <span><a href="mailto:enchantedfinejewelry@renaissanceglobal.com">enchantedfinejewelry@renaissanceglobal.com</a></span> or call us on <a href="tel:929205523335">(929) 552-3335</a> from Mon-Fri 8 AM to 8 PM EST and Sat-Sun 11 AM to 8 PM EST</p>
        </div>
        <div class="divider"></div>

      </div>
    </div>
  </section>
</div>
{% schema %}
{
"name": "FAQ",
"class": "rewards-faq",
"settings": []
}
{% endschema %}