<div class="villans_page">
  {% section 'jafar-page-banner' %}
  {% section 'jafar_three_banner' %}
  {% section 'jafar-collection_section' %}
  {% section 'jafar-craftmenship' %}
  {% section 'jafar-collection-product' %}
  {% section 'the-chateau-section' %}
</div>