<div class="villain_landing">
  <div class="bg_first">
    <div class="page-width">
      <section class="heading-main-banner villan_banner">
        <video playsinline autoplay muted loop id="myVideo" class="small--hide" poster="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/image.jpg?v=1614145675">
          <source src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Desktop_Smoke_effect.mp4?v=1614075667" type="video/mp4">
        </video>
        <video playsinline autoplay muted loop id="myVideo1" class="medium-up--hide" poster="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/image.jpg?v=1614145675">
          <source src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Mobile_smoke_effect.mp4?v=1614075658" type="video/mp4">
        </video>
        <div class="landing-image-wrapper">
          <img class="small--hide lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Desktop_1.png?v=1614076510" alt="Villain Banner" />
          <img class="medium-up--hide lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Mobile_1.png?v=1614076509" alt="Villain Banner" />
        </div>
        <div class="heading main-heading">
          <h1 class="main_heading">Which Disney Villain are you?</h1>
          <p class="villain_text">Spells, curses & magic mirrors - Villains know how to accessorize the elegance in power. Discover your inner confidence with Ursula’s flamboyant designs. Be protected with Maleficent’s thorn and wings, and find the fairest styles of them all with Evil Queen.</p>
          <div class="button-wrapper">
            <a href="/collections/disney-villains-diamond-jewelry" class="btn slider-btn" style="color:#caa050 !important;">
              view all villains products
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="villain-first__banner-wrapper villain-banner-wrapper">
    <div class="page-width">
      <div class="banner-sketch-wrapper">
        {% section 'villain_banner_first' %}
        {% section 'villain_sketch_first' %}
      </div>
      {% section 'villain_collection_first' %}
    </div>
  </div>
  <div class="bg_second bg-wrapper villain-banner-wrapper">
    <div class="page-width">
      <div class="banner-sketch-wrapper">
        {% section 'villain_banner_second' %}
        {% section 'villain_sketch_second' %}
      </div>
      {% section 'villain_collection_second' %}
    </div>
  </div>
  <div class="bg_third bg-wrapper villain-banner-wrapper">
    <div class="page-width">
      <div class="banner-sketch-wrapper">
        {% section 'villain_banner_third' %}
        {% section 'villain_sketch_third' %}
      </div>
      {% section 'villain_collection_third' %}
    </div>
  </div>
</div>