<div class="ultimate-badges-new">
  <h3 class="WidgetContent__Title-bhfpv9-2 jgoZyX">Secure Checkout With</h3>
  <div class="payment-icons">
    <!--     master card     -->
    <img src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/mastercard-logo_logotyp.us.png?v=1593173130">
    <!--     master card end    -->
    <!--    visa card     -->
    <img src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/visa-logo_logotyp.us.png?v=1593173130">
    <!--    visa card end    -->
    <!--     paypal     -->
    <img src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/paypal-logo_logotyp.us.png?v=1593173130">
    <!--     paypal end    -->
    <!--    google pay      -->
    <img src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/google-pay-logo.png?v=1593173130">
    <!--         apple pay -->
    <img src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Group_15497.png?v=1593173130">
  </div>
</div>