{% if collection.handle == 'disney-snow-white-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-cruella-de-vil-inspired-diamond-necklaces-pendants">Cruella De Vil Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'diamond-pendants-necklaces-between-1000-3000-dollars' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/diamond-pendants-necklaces-between-500-1000-dollars">Pendants under $1,000</a></li>
        <li><a href="/collections/diamond-pendants-necklaces-between-300-500-dollars">Pendants under $500</a></li>
        <li><a href="/collections/diamond-gemstone-necklaces">Diamond Gemstone Necklaces</a></li>
        <li><a href="/collections/dancing-diamond-necklaces">Dancing Diamonds Necklaces</a></li>
        <li><a href="/collections/diamond-necklaces">Gold & Diamond Necklaces</a></li>
        <li><a href="/collections/white-gold-diamond-necklaces-pendants">White Gold Pendants</a></li>
        <li><a href="/collections/rose-gold-diamond-necklaces-pendants">Rose Gold Pendants</a></li>
        <li><a href="/collections/yellow-gold-diamond-pendants-necklaces">Yellow Gold Pendants</a></li>
        <li><a href="/collections/sterling-silver-diamond-necklaces-pendants">Sterling Silver Pendants</a></li>
        <li><a href="/collections/black-rhodium-diamond-pendants-necklaces">Black Rhodium Pendants</a></li>
        <li><a href="/collections/diamond-heart-necklaces">Diamond Heart Pendants</a></li>
        <li><a href="/collections/diamond-pendants-necklaces-between-500-1000-dollars">Pendants under $1,000</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-anna-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-belle-inspired-diamond-pendants-necklaces">Belle Inspired Pendants</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-inspired-diamond-pendants-necklaces">Cinderella Inspired Pendants</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-pendants-necklaces">Elsa Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-ariel-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-pendants-necklaces">Snow White Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-ursula-inspired-diamond-pendant-necklaces">Ursula Inspired Pendants</a></li>
        <li><a href="/collections/disney-cruella-de-vil-inspired-diamond-necklaces-pendants">Cruella De Vil Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-belle-inspired-diamond-pendants-necklaces">Belle Inspired Pendants</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-inspired-diamond-pendants-necklaces">Cinderella Inspired Pendants</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-pendants-necklaces">Elsa Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>  
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-aurora-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-belle-inspired-diamond-pendants-necklaces">Belle Inspired Pendants</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-inspired-diamond-pendants-necklaces">Cinderella Inspired Pendants</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-pendants-necklaces">Elsa Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-belle-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-inspired-diamond-pendants-necklaces">Cinderella Inspired Pendants</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-pendants-necklaces">Elsa Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-Cinderella Inspired-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-pendants-necklaces">Elsa Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-Elsa Inspired-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-evil-queen-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-jasmine-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-majestic-princess-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-maleficent-inspired-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-merida-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-mulan-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-pocahontas-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-rapunzel-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-pendants-necklaces">Snow White Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-tiana-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-cruella-de-vil-inspired-diamond-necklaces-pendants">Cruella De Vil Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-pendants-necklaces">Snow White Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-tinker-bell-inspired-diamond-pendants-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-cruella-de-vil-inspired-diamond-necklaces-pendants">Cruella De Vil Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-pendants-necklaces">Snow White Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-ursula-inspired-diamond-pendant-necklaces' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-cruella-de-vil-inspired-diamond-necklaces-pendants">Cruella De Vil Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-cruella-de-vil-inspired-diamond-necklaces-pendants">Cruella De Vil Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-pendants-necklaces">Snow White Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-cruella-de-vil-inspired-diamond-necklaces-pendants' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ursula-inspired-diamond-pendant-necklaces">Ursula Inspired Pendants</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Pendants</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Pendants</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Pendants</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Pendants</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Pendants</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-pendants-necklaces">Snow White Inspired Pendants</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Pendants</a></li>
        <li><a href="/collections/disney-evil-queen-inspired-diamond-pendants-necklaces">Evil Queen Inspired Pendants</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'gold-diamond-bracelets-women' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/classic-diamond-engagement-rings">Classic Engagement Rings</a></li>
        <li><a href="/collections/round-cut-diamond-engagment-rings">Round Engagement Rings</a></li>
        <li><a href="/collections/diamonds-rings-gold-sterling-silver">Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-wedding-bands">Diamond Wedding Bands</a></li>
        <li><a href="/collections/diamond-anniversary-rings">Diamond Anniversary Rings</a></li>
        <li><a href="/collections/disney-princess-diamond-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/gemstone-earrings">Gemstone Earrings</a></li>
        <li><a href="/collections/diamond-stud-earrings-for-women">Diamond Stud Earrings</a></li>
        <li><a href="/collections/diamond-hoops-earrings">Diamond Hoops Earrings</a></li>
        <li><a href="/collections/diamond-necklaces">Diamond Necklaces</a></li>
        <li><a href="/collections/diamond-engagement-rings-under-300-dollars">Engagement Rings under $300</a></li>
        <li><a href="/collections/diamond-earrings-under-300-dollars">Earrings under $300</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princesses-inspired-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-ariel-diamond-jewelry">Ariel Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-majestic-princess-diamond-jewelry">Majestic Princess Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-anna-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-anna-gold-diamond-engagement-rings">Anna Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-anna-diamond-fashion-rings">Anna Inspired Rings</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-earrings">Anna Inspired Earrings</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Diamond Necklaces</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-anna-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-anna-gold-diamond-engagement-rings">Anna Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-anna-diamond-fashion-rings">Anna Inspired Rings</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-earrings">Anna Inspired Earrings</a></li>
        <li><a href="/collections/disney-anna-inspired-diamond-pendants-necklaces">Anna Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women">Diamond Bracelets</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-ariel-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-ariel-gold-diamond-engagement-rings">Ariel Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-ariel-diamond-fashion-rings">Ariel Inspired Rings</a></li>
        <li><a href="/collections/disney-ariel-inspired-diamond-earrings">Ariel Inspired Earrings</a></li>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-ariel-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-ariel-gold-diamond-engagement-rings">Ariel Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-ariel-diamond-fashion-rings">Ariel Inspired Rings</a></li>
        <li><a href="/collections/disney-ariel-inspired-diamond-earrings">Ariel Inspired Earrings</a></li>
        <li><a href="/collections/disney-ariel-inspired-diamond-pendants-necklaces">Ariel Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-aurora-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-aurora-gold-diamond-engagement-rings">Aurora Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-aurora-diamond-fashion-rings">Aurora Inspired Rings</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-earrings">Aurora Inspired Earrings</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Necklaces</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-evil-queen-diamond-jewelry">Evil Queen Inspired Collection</a></li>
        <li><a href="/collections/disney-cruella-de-vil-diamond-jewelry">Cruella De Vil Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-aurora-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-aurora-gold-diamond-engagement-rings">Aurora Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-aurora-diamond-fashion-rings">Aurora Inspired Rings</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-earrings">Aurora Inspired Earrings</a></li>
        <li><a href="/collections/disney-aurora-inspired-diamond-pendants-necklaces">Aurora Inspired Necklaces</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-evil-queen-diamond-jewelry">Evil Queen Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-belle-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-belle-gold-diamond-engagement-rings">Belle Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-belle-diamond-fashion-rings">Belle Inspired Rings</a></li>
        <li><a href="/collections/disney-belle-inspired-earrings">Belle Inspired Earrings</a></li>
        <li><a href="/collections/disney-belle-inspired-diamond-pendants-necklaces">Belle Inspired Necklaces</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-belle-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-belle-gold-diamond-engagement-rings">Belle Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-belle-diamond-fashion-rings">Belle Inspired Rings</a></li>
        <li><a href="/collections/disney-belle-inspired-earrings">Belle Inspired Earrings</a></li>
        <li><a href="/collections/disney-belle-inspired-diamond-pendants-necklaces">Belle Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-Cinderella Inspired-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-gold-diamond-engagement-rings">Cinderella Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-diamond-fashion-rings">Cinderella Inspired Rings</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-inspired-diamond-earrings">Cinderella Inspired Earrings</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-inspired-diamond-pendants-necklaces">Cinderella Inspired Necklaces</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-Cinderella Inspired-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-Cinderella Inspired-gold-diamond-engagement-rings">Cinderella Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-diamond-fashion-rings">Cinderella Inspired Rings</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-inspired-diamond-earrings">Cinderella Inspired Earrings</a></li>
        <li><a href="/collections/disney-Cinderella Inspired-inspired-diamond-pendants-necklaces">Cinderella Inspired Necklaces</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-queen-Elsa Inspired-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-queen-Elsa Inspired-gold-diamond-engagement-rings">Elsa Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-Elsa Inspired-diamond-fashion-rings">Elsa Inspired Rings</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-earrings">Elsa Inspired Earrings</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-pendants-necklaces">Elsa Inspired Necklaces</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-Elsa Inspired-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-queen-Elsa Inspired-gold-diamond-engagement-rings">Elsa Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-Elsa Inspired-diamond-fashion-rings">Elsa Inspired Rings</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-earrings">Elsa Inspired Earrings</a></li>
        <li><a href="/collections/disney-Elsa Inspired-inspired-diamond-pendants-necklaces">Elsa Inspired Necklaces</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-jasmine-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-gold-diamond-engagement-rings">Jasmine Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-Elsa Inspired-diamond-fashion-rings">Jasmine Inspired Rings</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-earrings">Jasmine Inspired Earrings</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Necklaces</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-evil-queen-diamond-jewelry">Evil Queen Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-jasmine-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-jasmine-gold-diamond-engagement-rings">Jasmine Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-Elsa Inspired-diamond-fashion-rings">Jasmine Inspired Rings</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-earrings">Jasmine Inspired Earrings</a></li>
        <li><a href="/collections/disney-jasmine-inspired-diamond-pendants-necklaces">Jasmine Inspired Necklaces</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-evil-queen-diamond-jewelry">Evil Queen Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-ariel-diamond-jewelry">Ariel Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-majestic-princess-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-majestic-princess-gold-diamond-engagement-rings">Majestic Princess Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-majestic-princess-diamond-fashion-rings">Majestic Princess Inspired Rings</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-earrings">Majestic Princess Inspired Earrings</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-majestic-princess-diamond-jewelry">Majestic Princess Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-majestic-princess-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-majestic-princess-gold-diamond-engagement-rings">Majestic Princess Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-majestic-princess-diamond-fashion-rings">Majestic Princess Inspired Rings</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-earrings">Majestic Princess Inspired Earrings</a></li>
        <li><a href="/collections/disney-majestic-princess-inspired-diamond-pendants-necklaces">Majestic Princess Inspired Pendants</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-merida-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-gold-diamond-engagement-rings">Merida Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-merida-diamond-fashion-rings">Merida Inspired Rings</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-earrings">Merida Inspired Earrings</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Necklaces</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-merida-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-merida-gold-diamond-engagement-rings">Merida Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-merida-diamond-fashion-rings">Merida Inspired Rings</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-earrings">Merida Inspired Earrings</a></li>
        <li><a href="/collections/disney-merida-inspired-diamond-pendants-necklaces">Merida Inspired Necklaces</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-mulan-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-mulan-diamond-jewelry">Mulan Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-mulan-gold-diamond-engagement-rings">Mulan Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-mulan-diamond-fashion-rings">Mulan Inspired Rings</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-earrings">Mulan Inspired Earrings</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Necklaces</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-mulan-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-mulan-gold-diamond-engagement-rings">Mulan Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-mulan-diamond-fashion-rings">Mulan Inspired Rings</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-earrings">Mulan Inspired Earrings</a></li>
        <li><a href="/collections/disney-mulan-inspired-diamond-pendants-necklaces">Mulan Inspired Necklaces</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-majestic-princess-diamond-jewelry">Majestic Princess Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-mulan-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-pocahontas-gold-diamond-engagement-rings">Pocahontas Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-fashion-rings">Pocahontas Inspired Rings</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-earrings">Pocahontas Inspired Earrings</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Necklaces</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-pocahontas-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-pocahontas-gold-diamond-engagement-rings">Pocahontas Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-fashion-rings">Pocahontas Inspired Rings</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-earrings">Pocahontas Inspired Earrings</a></li>
        <li><a href="/collections/disney-pocahontas-inspired-diamond-pendants-necklaces">Pocahontas Inspired Necklaces</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-cruella-de-vil-diamond-jewelry">Cruella De Vil Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-rapunzel-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-gold-diamond-engagement-rings">Rapunzel Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-rapunzel-diamond-fashion-rings">Rapunzel Inspired Rings</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-earrings">Rapunzel Inspired Earrings</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-cruella-de-vil-diamond-jewelry">Cruella De Vil Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-rapunzel-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-rapunzel-gold-diamond-engagement-rings">Rapunzel Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-rapunzel-diamond-fashion-rings">Rapunzel Inspired Rings</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-earrings">Rapunzel Inspired Earrings</a></li>
        <li><a href="/collections/disney-rapunzel-inspired-diamond-pendants-necklaces">Rapunzel Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-cruella-de-vil-diamond-jewelry">Cruella De Vil Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-snow-white-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry">Snow White Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-gold-diamond-engagement-rings">Snow White Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-snow-white-diamond-fashion-rings">Snow White Inspired Rings</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-earrings">Snow White Inspired Earrings</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-pendants-necklaces">Snow White Inspired Pendants</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-princess-snow-white-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-snow-white-gold-diamond-engagement-rings">Snow White Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-snow-white-diamond-fashion-rings">Snow White Inspired Rings</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-earrings">Snow White Inspired Earrings</a></li>
        <li><a href="/collections/disney-snow-white-inspired-diamond-pendants-necklaces">Snow White Inspired Pendants</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-tinker-bell-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-tinker-bell-diamond-jewelry">Tinker Bell Inspired Collection</a></li>
        <li><a href="/collections/disney-tinker-bell-gold-diamond-engagement-rings">Tinker Bell Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-fashion-rings">Tinker Bell Inspired Rings</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-earrings">Tinker Bell Inspired Earrings</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-tinker-bell-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-tinker-bell-gold-diamond-engagement-rings">Tinker Bell Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-tinker-bell-diamond-fashion-rings">Tinker Bell Inspired Rings</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-earrings">Tinker Bell Inspired Earrings</a></li>
        <li><a href="/collections/disney-tinker-bell-inspired-diamond-pendants-necklaces">Tinker Bell Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry">Aurora Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif page.handle == 'disney-princess-tiana-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-gold-diamond-engagement-rings">Tiana Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-tiana-diamond-fashion-rings">Tiana Inspired Rings</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-earrings">Tiana Inspired Earrings</a></li>
        <li><a href="/collections/disney-tiana-inspired-diamond-pendants-necklaces">Tiana Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-maleficent-diamond-jewelry' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-maleficent-gold-diamond-engagement-rings">Maleficent Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-maleficent-diamond-fashion-rings">Maleficent Inspired Rings</a></li>
        <li><a href="/collections/disney-maleficent-inspired-diamond-earrings">Maleficent Inspired Earrings</a></li>
        <li><a href="/collections/disney-maleficent-inspired-necklaces">Maleficent Inspired Necklaces</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-ursula-diamond-jewelry' %}  
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/ursula-gold-diamond-engagement-rings">Ursula Inspired Engagement Rings</a></li>
        <li><a href="/collections/disney-ursula-inspired-diamond-earrings">Ursula Inspired Earrings</a></li>
        <li><a href="/collections/disney-ursula-inspired-diamond-pendant-necklaces">Ursula Inspired Pendants</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-evil-queen-diamond-jewelry' %}  
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-cruella-de-vil-diamond-jewelry">Cruella De Vil Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-majestic-princess-diamond-jewelry">Majestic Princess Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-tiana-diamond-jewelry">Tiana Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'disney-cruella-de-vil-diamond-jewelry' %}  
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/disney-ursula-diamond-jewelry">Ursula Inspired Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry">Maleficent Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry">Merida Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Elsa Inspired-diamond-jewelry">Elsa Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-Cinderella Inspired-diamond-jewelry">Cinderella Inspired Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry">Anna Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry">Rapunzel Inspired Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry">Pocahontas Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-majestic-princess-diamond-jewelry">Majestic Princess Inspired Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry">Belle Inspired Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry">Jasmine Inspired Collection</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'diamond-jewelry-new-arrivals' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/classic-diamond-engagement-rings">Classic Engagement Rings</a></li>
        <li><a href="/collections/diamond-promise-engagement-rings">Promise Rings</a></li>
        <li><a href="/collections/diamonds-rings-gold-sterling-silver">Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-wedding-bands">Diamond Wedding Bands</a></li>
        <li><a href="/collections/diamond-anniversary-rings">Diamond Anniversary Rings</a></li>
        <li><a href="/collections/disney-princess-diamond-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/gemstone-earrings">Gemstone Earrings</a></li>
        <li><a href="/collections/diamond-stud-earrings-for-women">Diamond Stud Earrings</a></li>
        <li><a href="/collections/diamond-hoops-earrings">Diamond Hoops Earrings</a></li>
        <li><a href="/collections/diamond-necklaces">Diamond Necklaces</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women">Diamond Bracelets</a></li>
        <li><a href="/collections/diamond-rings-under-300-dollars">Rings under $300</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'the-enchanted-vault-deals' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/diamonds-rings-gold-sterling-silver">Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-wedding-bands">Diamond Wedding Bands</a></li>
        <li><a href="/collections/diamond-anniversary-rings">Diamond Anniversary Rings</a></li>
        <li><a href="/collections/disney-princess-diamond-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/gemstone-earrings">Gemstone Earrings</a></li>
        <li><a href="/collections/diamond-stud-earrings-for-women">Diamond Stud Earrings</a></li>
        <li><a href="/collections/diamond-hoops-earrings">Diamond Hoops Earrings</a></li>
        <li><a href="/collections/diamond-necklaces">Diamond Necklaces</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women">Diamond Bracelets</a></li>
        <li><a href="/collections/diamond-rings-under-300-dollars">Rings under $300</a></li>
        <li><a href="/collections/diamond-heart-necklaces">Diamond Heart Pendants</a></li>
        <li><a href="/collections/diamond-crown-pendants-necklaces">Diamond Crown Pendants</a></li>
      </ul>
    </div>
  </div>
</div>

{% elsif collection.handle == 'sparkles-diamond-jewelry-sale' %}
<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      <ul>
        <li><a href="/collections/diamonds-rings-gold-sterling-silver">Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-wedding-bands">Diamond Wedding Bands</a></li>
        <li><a href="/collections/diamond-anniversary-rings">Diamond Anniversary Rings</a></li>
        <li><a href="/collections/disney-princess-diamond-earrings">Diamond Earrings</a></li>
        <li><a href="/collections/gemstone-earrings">Gemstone Earrings</a></li>
        <li><a href="/collections/diamond-stud-earrings-for-women">Diamond Stud Earrings</a></li>
        <li><a href="/collections/diamond-hoops-earrings">Diamond Hoops Earrings</a></li>
        <li><a href="/collections/diamond-necklaces">Diamond Necklaces</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women">Diamond Bracelets</a></li>
        <li><a href="/collections/diamond-rings-under-300-dollars">Rings under $300</a></li>
        <li><a href="/collections/diamond-heart-necklaces">Diamond Heart Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women">Diamond Bracelets</a></li>
      </ul>
    </div>
  </div>
</div>
{% endif %}