{% include 'rewards-boutique-css' %}

<div class="page-rewards-boutique">
  {% section 'rb-header' %}
  <div class="early_access-banner page-width">
    <a href="/collections/black-friday-early-access-sale">
    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Rewards_page_and_Account_page_Size_1240_X_290.jpg?v=1636973786">
    </a>
  </div>
  {% section 'rb-earn-sparkles' %}
  {% section 'rb-redeem-discounts' %}
  {% section 'rb-how-it-works' %}
  {% section 'rb-member-tiers' %}
  <div class="page-width">
    <div class="rte reward-refer section-padding-top">
      <div id="stamped-rewards-widget" data-widget-type="rewards-referral" data-label-description="Earn Sparkles when your friend makes their first purchase"></div>
      <div class="refrral-banner">
        <img 
			class="grid-view-item__image lazyload first-image float-img" 
			alt="Box Jewelry" 
			data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Mask_Group_786.jpg?v=1626856646"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image />
      </div>
    </div>
  </div>
  {% section 'rb-faq' %}
</div>