<div class="villans_page">
  {% section 'cruella-page-banner' %}
  {% section 'cruella_three_banner' %}
  {% section 'cruella-collection_section' %}
  {% section 'cruella-craftmenship' %}
  {% section 'cruella-collection-product' %}
  {% section 'the-chateau-section' %}
</div>