<section id="productsFAQSection" class="details--content faq">
  <div class="ed--wrapper">
    <div class="details--content__title-first">
      <span>FAQ</span>
    </div>

    <div class="yCmsComponent">
      <div class="custom_content_faq">
        <div class="custom_content-inner_faq">
          <div class="faq-content-section">

            <div class="details--content__title-first--subtitle">Size</div>
            <div class="faq-collpase-panel">
              <div class="faq-collpase-panel-header" data-toggle="collapse" data-target="#faqcontent0-0">
                <span class="header-title">How do I know my ring size?</span>
              </div>
              <div id="faqcontent0-0" class="faq-collpase-panel-content panel-collapse collapse in" style="">
                You can click the Ring chart button or visit <a target="_blank" href="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/ring_sizer.pdf?32586">Learn More</a>
              </div>
            </div>

            <div class="details--content__title-first--subtitle">Delivery</div>
            <div class="faq-collpase-panel">
              <div class="faq-collpase-panel-header" data-toggle="collapse" data-target="#faqcontent0-1">
                <span class="header-title">Are there any delivery charges?</span>
              </div>
              <div id="faqcontent0-1" class="faq-collpase-panel-content panel-collapse collapse in" style="">
                Enchanted Disney Fine Jewelry offers fast & reliable shipping on all orders.
              </div>
            </div>
            <div class="details--content__title-first--subtitle">Warranty</div>
            <div class="faq-collpase-panel">
              <div class="faq-collpase-panel-header" data-toggle="collapse" data-target="#faqcontent0-2">
                <span class="header-title">Do I get a warranty on my purchase?</span>
              </div>
              <div id="faqcontent0-2" class="faq-collpase-panel-content panel-collapse collapse in" style="">
                Enchanted Disney Fine Jewelry provides a 1-year warranty on all your fine jewelry purchased from EnchantedFineJewelry.com. The warranty covers manufacturers defects in material or workmanship but it does not cover neglect or any kind of abuse.
              </div>
            </div>
          </div>
        </div>
        <div class="custom_content-inner_faq">
          <div class="faq-content-section">

            <div class="details--content__title-first--subtitle">Care</div>
            <div class="faq-collpase-panel">
              <div class="faq-collpase-panel-header" data-toggle="collapse" data-target="#faqcontent1-0">
                <span class="header-title">How do I take care of my Diamond Jewelry?</span>
              </div>
              <div id="faqcontent1-0" class="faq-collpase-panel-content panel-collapse collapse in" style="">
              </div>
            </div>

            <div class="details--content__title-first--subtitle">Contact</div>
            <div class="faq-collpase-panel">
              <div class="faq-collpase-panel-header" data-toggle="collapse" data-target="#faqcontent1-0">
                <span class="header-title">How do I contact in case of any issues with my product</span>
              </div>
              <div id="faqcontent1-0" class="faq-collpase-panel-content panel-collapse collapse in" style="">
                You can reach us via <a href="tel:9295523335">(929) 552-3335</a> or email us on <a href="mailto:enchantedfinejewelry@renaissanceglobal.com">(enchantedfinejewelry@renaissanceglobal.com)</a>
              </div>
            </div>

            <div class="details--content__title-first--subtitle">About</div>
            <div class="faq-collpase-panel">
              <div class="faq-collpase-panel-header" data-toggle="collapse" data-target="#faqcontent1-1">
                <span class="header-title">Is this the official online store of Enchanted Disney Fine Jewelry?</span>
              </div>
              <div id="faqcontent1-1" class="faq-collpase-panel-content panel-collapse collapse in" style="">
                Yes, EnchantedFineJewelry.com is the official online store of Enchanted Disney Fine Jewelry. The products are manufactured and fulfilled by Renaissance Global, an official licensee of the Disney Consumer Products.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .details--content__title-first {
    font-family: "NewYork-Regular";
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(17, 33, 74);
    margin-top: 4%;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  @media(min-width:1024px){
    .custom_content_faq{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .custom_content-inner_faq {
    display: flex;
    flex-direction: column;
    -ms-flex: 0 0 30%;
    flex: 0 0 45%;
  }
  .details--content.faq .details--content__title-first--subtitle {
    font-family: "NewYork-Medium";
    font-size: 16px;
    line-height: 25px;
    color: #11214A;
    margin-top: 10px;
  }
  .details--content.faq .faq-content-section .faq-collpase-panel {
    border-bottom: 1px solid #c3c3c3;
  }
  .details--content.faq .faq-content-section .faq-collpase-panel .faq-collpase-panel-header {
    font-family: "NewYork-Regular";
    font-size: 16px;
    line-height: 25px;
    padding-top: 4px;
    padding-bottom: 15px;
    cursor: pointer;
    position:relative;
  }
  .details--content.faq .faq-content-section .faq-collpase-panel .faq-collpase-panel-header::after {
    font-family: "NewYork-Medium";
    content: '+';
    font-size: 22px;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 30%;
  }
  .details--content.faq .faq-content-section .faq-collpase-panel .faq-collpase-panel-content {
    font-family: "NewYork-Regular";
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 15px;
    display:none;
  }
  .details--content.faq .faq-content-section .faq-collpase-panel .faq-collpase-panel-content a {
    font-family: "NewYork-Regular";
    text-decoration: underline;
    color: #305C8C;
  }
</style>