<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      {% if page.handle  == 'wedding-bridal-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>
        <li><a href="/collections/anniversary-bands/">Disney Princess Anniversary Rings</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Disney Princess Bridal Collection</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/jasmine/">Jasmine Bridal Rings</a></li>
        <li><a href="/collections/cinderella/">Cinderella Bridal Rings</a></li>
        <li><a href="/pages/disney-princess-aurora-diamond-jewelry/">Aurora Bridal Rings</a></li>
        <li><a href="/pages/disney-queen-elsa-diamond-jewelry/">Elsa Diamond Rings</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Diamond Rings</a></li>
        <li><a href="/collections/ariel/">Ariel Diamond Rings</a></li>
        <li><a href="/collections/solitaire-studs/">Solitaire Earrings</a></li>
      </ul>

      {% elsif page.handle  == 'fashion-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Disney Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Disney Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Disney Earrings</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Disney Diamond Rings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Disney Diamond Rings for men</a></li>
        <li><a href="/collections/mulan/">Mulan Jewelry</a></li>
        <li><a href="/collections/cinderella/">Cinderella Jewelry</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/pages/disney-princess-majestic-princess-diamond-jewelry/">Majestic Princess Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Jewelry Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Jewelry</a></li>
        <li><a href="/pages/disney-princess-ariel-diamond-jewelry/">Ariel Diamond Jewelry</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princesses-inspired-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
      </ul>

      {% elsif page.handle  == 'gifts-for-her' %}
      <ul>
        <li><a href="/collections/diamond-jewelry-graduation-day-gifts/">Gifts for Graduation</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-engagement-rings' %}
      <ul>
        <li><a href="/collections/anniversary-bands/">Disney Princess Anniversary Rings</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Disney Princess Bridal Collection</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/jasmine/">Jasmine Engagement Rings</a></li>
        <li><a href="/collections/cinderella/">Cinderella Engagement Rings</a></li>
        <li><a href="/pages/disney-princess-aurora-diamond-jewelry/">Aurora Bridal Rings</a></li>
        <li><a href="/pages/disney-queen-elsa-diamond-jewelry/">Elsa Diamond Rings</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Diamond Rings</a></li>
        <li><a href="/collections/ariel/">Ariel Diamond Rings</a></li>
        <li><a href="/collections/solitaire-studs/">Solitaire Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
      </ul>

      {% elsif collection.handle  == 'anniversary-bands' %}
      <ul>
        <li><a href="/collections/jasmine/">Jasmine Diamond Rings</a></li>
        <li><a href="/collections/cinderella/">Cinderella Diamond Rings</a></li>
        <li><a href="/pages/disney-princess-aurora-diamond-jewelry/">Aurora Diamond Rings</a></li>
        <li><a href="/pages/disney-queen-elsa-diamond-jewelry/">Elsa Diamond Rings</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Diamond Rings</a></li>
        <li><a href="/collections/ariel/">Ariel Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
        <li><a href="/collections/snow-white/">Snow White Diamond Rings</a></li>
        <li><a href="/collections/mulan/">Mulan Diamond Rings</a></li>
        <li><a href="/collections/tinker-bell/">Tinker Bell Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
      </ul>

      {% elsif collection.handle  == 'mens' %}
      <ul>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>
        <li><a href="/collections/anniversary-bands/">Anniversary Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-graduation-day-gifts/">Gifts for Graduation</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-100-dollars/">Diamond Gifts under $100</a></li>
      </ul>

      {% elsif collection.handle  == 'gold-diamond-pendants-necklaces-women' %}
      <ul>
        <li><a href="/collections/anniversary-bands/">Disney Princess Anniversary Rings</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Disney Princess Bridal Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Diamond Pendants</a></li>
        <li><a href="/collections/cinderella/">Cinderella Diamond Pendants</a></li>
        <li><a href="/pages/disney-princess-aurora-diamond-jewelry/">Aurora Diamond Pendants</a></li>
        <li><a href="/pages/disney-queen-elsa-diamond-jewelry/">Elsa Diamond Pendants</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Diamond Pendants</a></li>
        <li><a href="/collections/ariel/">Ariel Diamond Pendants</a></li>
        <li><a href="/collections/solitaire-studs/">Solitaire Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-100-dollars/">Diamond Gifts under $100</a></li>
      </ul>

      {% elsif collection.handle  == 'gold-diamond-bracelets-women' %}
      <ul>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Disney Princess Bridal Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Diamond Bracelets</a></li>
        <li><a href="/collections/cinderella/">Cinderella Diamond Bracelets</a></li>
        <li><a href="/pages/disney-princess-aurora-diamond-jewelry/">Aurora Diamond Bracelets</a></li>
        <li><a href="/pages/disney-queen-elsa-diamond-jewelry/">Elsa Diamond Bracelets</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Diamond Bracelets</a></li>
        <li><a href="/collections/ariel/">Ariel Diamond Bracelets</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-100-dollars/">Diamond Gifts under $100</a></li>
        <li><a href="/collections/anniversary-bands/">Disney Princess Anniversary Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'gold-diamond-earrings-women' %}
      <ul>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Disney Princess Bridal Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Diamond Earrings</a></li>
        <li><a href="/collections/cinderella/">Cinderella Diamond Earrings</a></li>
        <li><a href="/pages/disney-princess-aurora-diamond-jewelry/">Aurora Diamond Earrings</a></li>
        <li><a href="/pages/disney-queen-elsa-diamond-jewelry/">Elsa Diamond Earrings </a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Diamond Earrings</a></li>
        <li><a href="/collections/ariel/">Ariel Diamond Earrings</a></li>
        <li><a href="/collections/solitaire-studs/">Solitaire Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-300-dollars/">Diamond Gifts under $300</a></li>
        <li><a href="/collections/tinker-bell/">Tinker Bell Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'gold-diamond-rings-women' %}
      <ul>
        <li><a href="/collections/diamond-engagement-rings/">Diamond Engagement Rings</a></li>
        <li><a href="/collections/jasmine/">Jasmine Diamond Rings</a></li>
        <li><a href="/collections/cinderella/">Cinderella Diamond Earrings</a></li>
        <li><a href="/pages/disney-princess-aurora-diamond-jewelry/">Aurora Diamond Rings</a></li>
        <li><a href="/pages/disney-queen-elsa-diamond-jewelry/">Elsa Diamond Rings</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Diamond Rings</a></li>
        <li><a href="/collections/ariel/">Ariel Diamond Rings</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
        <li><a href="/collections/snow-white/">Snow White Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-300-dollars/">Diamond Gifts under $300</a></li>
        <li><a href="/collections/tinker-bell/">Tinker Bell Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'solitaire-studs' %}
      <ul>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Disney Princess Bridal Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Diamond Earrings</a></li>
        <li><a href="/collections/cinderella/">Cinderella Diamond Earrings</a></li>
        <li><a href="/pages/disney-princess-aurora-diamond-jewelry/">Aurora Diamond Earrings</a></li>
        <li><a href="/pages/disney-queen-elsa-diamond-jewelry/">Elsa Diamond Earrings</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Diamond Earrings</a></li>
        <li><a href="/collections/ariel/">Ariel Diamond Earrings</a></li>
        <li><a href="/collections/solitaire-studs/">Solitaire Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Earrings for Birthdays</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-300-dollars/">Diamond Gifts under $300</a></li>
        <li><a href="/collections/tinker-bell/">Tinker Bell Diamond Rings</a></li>
      </ul>

      {% elsif page.handle  == 'disney-anna-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Diamond Engagement Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-anna-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry/">Pocahontas Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/disney-princess-jasmine-diamond-jewelry/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-ariel-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-aurora-diamond-jewelry/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Diamond Engagement Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-ariel-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry/">Pocahontas Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-aurora-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-ariel-diamond-jewelry/">Ariel Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/diamond-jewelry-birthday-gifts-for-her/">Diamond Rings for Birthdays</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Diamond Engagement Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-aurora-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/disney-princess-ariel-diamond-jewelry/">Ariel Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Diamond Engagement Rings</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-belle-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-belle-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-cinderella-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-cinderella-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-jasmine-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-jasmine-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/snow-white/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-snow-white-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-snow-white-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry/">Anna Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-majestic-princess-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry/">Anna Collection</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Engagement Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-majestic-princess-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Engagement Diamond Rings</a></li>
      </ul>

      {% elsif page.handle  == 'disney-queen-elsa-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry/">Anna Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Engagement Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-elsa-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Engagement Diamond Rings</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-tinker-bell-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Engagement Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-tinker-bell-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/collections/mulan/">Mulan Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry/">Anna Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Engagement Diamond Rings</a></li>
      </ul>

      {% elsif page.handle  == 'disney-mulan-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-mulan-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry/">Anna Collection</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Engagement Diamond Rings</a></li>
      </ul>

      {% elsif page.handle  == 'disney-merida-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry/">Pocahontas Collection</a></li>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Engagement Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-merida-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry/">Pocahontas Collection</a></li>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-pocahontas-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-pocahontas-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-ursula-diamond-jewelry/">Ursula Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-rapunzel-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry/">Pocahontas Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry/">Ursula Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-rapunzel-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry/">Pocahontas Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry/">Ursula Collection</a></li>
      </ul>

      {% elsif page.handle  == 'disney-princess-tiana-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
        <li><a href="/pages/disney-princess-tinker-bell-diamond-jewelry/">Tinker Bell Collection</a></li>
        <li><a href="/collections/disney-pocahontas-diamond-jewelry/">Pocahontas Collection</a></li>
        <li><a href="/collections/disney-ursula-diamond-jewelry/">Ursula Collection</a></li>
      </ul>

      {% elsif collection.handle  == 'disney-princess-tiana-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
      </ul>    

      {% elsif collection.handle  == 'disney-maleficent-diamond-jewelry' %}
      <ul>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry/">Anna Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
        <li><a href="/collections/elsa/">Elsa Collection</a></li>
      </ul>  

      {% elsif collection.handle  == 'disney-ursula-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/disney-maleficent-diamond-jewelry/">Maleficent Collection</a></li>
        <li><a href="/pages/disney-princess-tiana-diamond-jewelry/">Tiana Collection</a></li>
        <li><a href="/collections/disney-anna-diamond-jewelry/">Anna Collection</a></li>
        <li><a href="/collections/disney-princess-rapunzel-diamond-jewelry/">Rapunzel Collection</a></li>
        <li><a href="/collections/disney-princess-merida-diamond-jewelry/">Merida Collection</a></li>
        <li><a href="/collections/ariel/">Ariel Collection</a></li>
        <li><a href="/collections/aurora/">Aurora Collection</a></li>
        <li><a href="/pages/disney-princess-belle-diamond-jewelry/">Belle Collection</a></li>
        <li><a href="/collections/cinderella/">Cinderella Collection</a></li>
        <li><a href="/collections/jasmine/">Jasmine Collection</a></li>
        <li><a href="/collections/disney-princess-snow-white-diamond-jewelry/">Snow White Collection</a></li>
        <li><a href="/collections/majestic-princess/">Majestic Collection</a></li>
      </ul>    

      {% elsif collection.handle  == 'diamond-jewelry-graduation-day-gifts' %}
      <ul>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Disney Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-jewelry-gifts-for-mom' %}
      <ul>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-graduation-day-gifts/">Gifts for Graduation</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Disney Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-jewelry-gifts-for-daughter' %}
      <ul>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-graduation-day-gifts/">Gifts for Graduation</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Disney Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'birthday-gifts-for-her' %}
      <ul>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-graduation-day-gifts/">Gifts for Graduation</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Gifts for Anniversary</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Disney Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-jewelry-anniversary-gifts' %}
      <ul>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-graduation-day-gifts/">Gifts for Graduation</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>	
        <li><a href="/collections/gold-diamond-rings-women/">Disney Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-jewelry-gifts-under-100-dollars' %}
      <ul>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-graduation-day-gifts/">Gifts for Graduation</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>	
        <li><a href="/collections/gold-diamond-rings-women/">Disney Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'diamond-jewelry-gifts-under-300-dollars' %}
      <ul>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-graduation-day-gifts/">Gifts for Graduation</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>	
        <li><a href="/collections/gold-diamond-rings-women/">Disney Diamond Rings</a></li>
      </ul>

      {% elsif collection.handle  == 'the-enchanted-vault-deals' %}
      <ul>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>	
        <li><a href="/collections/anniversary-bands/">Anniversary Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/disney-princesses-inspired-jewelry/">Disney Princess Collections</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/solitaire-studs/">Solitaire Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Anniversary Diamond Gifts</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-100-dollars/">Diamond Gifts under $100</a></li>
      </ul>

      {% elsif page.handle  == 'valentines-day-diamond-jewelry-deals' %}
      <ul>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-daughter/">Gifts for daughter</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-for-mom/">Gifts for mother</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-100-dollars/">Diamond Gifts under $100</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>	
        <li><a href="/collections/solitaire-studs/">Solitaire Earrings</a></li>
      </ul>

      {% else %}

      <ul> 
        <li><a href="/pages/wedding-bridal-diamond-jewelry/">Bridal Collections</a></li>
        <li><a href="/collections/diamond-engagement-rings/">Disney Princess Engagement Rings</a></li>
        <li><a href="/collections/anniversary-bands/">Anniversary Diamond Rings</a></li>
        <li><a href="/collections/gold-diamond-pendants-necklaces-women/">Diamond Necklaces & Pendants</a></li>
        <li><a href="/collections/gold-diamond-bracelets-women/">Diamond Bracelets</a></li>
        <li><a href="/collections/gold-diamond-earrings-women/">Diamond Earrings</a></li>
        <li><a href="/collections/mens-diamond-rings/">Men’s Collection</a></li>
        <li><a href="/pages/disney-princesses-inspired-jewelry/">Disney Princess Collections</a></li>
        <li><a href="/collections/gold-diamond-rings-women/">Diamond Rings</a></li>
        <li><a href="/collections/solitaire-studs/">Solitaire Earrings</a></li>
        <li><a href="/collections/diamond-jewelry-anniversary-gifts/">Anniversary Diamond Gifts</a></li>
        <li><a href="/collections/diamond-jewelry-gifts-under-100-dollars/">Diamond Gifts under $100</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>