<div id="the-vault3" class="new-country-overlay">
  <div class="popup">
    <div class="country-wrapper">
      <p>Thank you for visiting EFJ.com. Please <a href="https://enchantedfinejewelry.co.uk/">click here</a> to visit the site that ships to your country.</p>
      <a class="btn" href="https://enchantedfinejewelry.co.uk/">
        Visit our Int’l store
      </a>
    </div>
  </div>
</div>

<div id="the-vault2" class="country-overlay">
  <div class="popup">
    <div class="country-wrapper">
      <div class="medium-up--hide">
        <img class="lazyload" data-src="{{ 'splitit_mob.png' | file_img_url:"master" }}" data-sizes="auto">
      </div>
       <div class="small--hide">
        <img class="lazyload" data-src="{{ 'Splitit_1.jpg' | file_img_url:"master" }}" data-sizes="auto">
      </div>
    </div>
    <a class="close" href="#">
      <svg class="icon-remove " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 10 10" fill="none">  <title>Remove icon</title>  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.11611 5.00001L0.327286 8.78884L1.21117 9.67272L5 5.88389L8.78883 9.67272L9.67271 8.78884L5.88388 5.00001L9.67271 1.21118L8.78882 0.327301L5 4.11613L1.21117 0.327301L0.327286 1.21118L4.11611 5.00001Z" fill="currentColor"></path></svg>
    </a>
  </div>
</div>